# Default Import

In [1]:
from ris import pysqldb
from IPython.display import Markdown, clear_output
from sqlalchemy import create_engine
import ris
import getpass
import datetime 
import pandas as pd
import numpy as np
import os
import requests

timestamp = datetime.datetime.now().strftime('%Y-%m-%d %H:%M')
ts = datetime.datetime.now().strftime('%Y-%m-%d')

Markdown('<strong>Notebook run on: {} | by {} | Using ris library version: {} | File Location: {}'.format(
    timestamp, getpass.getuser(), ris.__version__, os.getcwd()
))

<strong>Notebook run on: 2020-08-25 11:06 | by soge | Using ris library version: 1.5.6 | File Location: E:\RIS\Staff Folders\Samuel\Requests\SH\Speed_Limits_Update

# Db connections

In [2]:
try: 
    db.params['user']
except:
    db = pysqldb.DbConnect(type='PG', server='dotdevrhpgsql01', database='CRASHDATA')

Additional database connection details required:
User name (crashdata):soge
Password (crashdata)········
Database connection (PG) to CRASHDATA on dotdevrhpgsql01 - user: soge
Connection established 2020-08-25 11:06:33

In [7]:
#sip = pysqldb.DbConnect(server='dotpgsql01', database='sip', type='PG', user = db.params['user'], password = db.params['password'])
#forms = pysqldb.DbConnect(server='dot55sql01', database='forms', type='MS', user = 'arcgis', password = 'arcgis')

In [ ]:
# BACK UP SPEED LIMITS FILE
# CREATE A TABLE WITH SPEED LIMITS DATA AND TODAY'S DATE
# i.e Archive Copy

In [8]:
x = db.dfquery("""
SELECT segmentid, street, postvz_sl, postvz_sg, prevz_sl, prevz_sg, 
       version, geom
FROM public.speed_limit_19d
WHERE street = 'SHORE ROAD'
AND segmentid in (95438,95445,179943,179942,179973,179944,307982,237256,308021,307983,308144,308022,308145)
""")

In [9]:
x

,segmentid,street,postvz_sl,postvz_sg,prevz_sl,prevz_sg,version,geom
0,95438,SHORE ROAD,30,NO,30,NO,19d,0105000020D70800000100000001020000000200000000...
1,179942,SHORE ROAD,30,NO,30,NO,19d,0105000020D70800000100000001020000000A00000080...
2,179943,SHORE ROAD,30,NO,30,NO,19d,0105000020D70800000100000001020000000200000080...
3,95445,SHORE ROAD,30,NO,30,NO,19d,0105000020D70800000100000001020000000200000000...
4,179944,SHORE ROAD,30,NO,30,NO,19d,0105000020D70800000100000001020000000200000080...
5,179973,SHORE ROAD,30,NO,30,NO,19d,0105000020D70800000100000001020000000200000000...
6,237256,SHORE ROAD,30,NO,30,NO,19d,0105000020D70800000100000001020000000200000000...
7,307982,SHORE ROAD,30,NO,30,NO,19d,0105000020D70800000100000001020000000200000000...
8,307983,SHORE ROAD,30,NO,30,NO,19d,0105000020D70800000100000001020000000200000080...
9,308021,SHORE ROAD,30,NO,30,NO,19d,0105000020D70800000100000001020000000F00000000...
10,308022,SHORE ROAD,30,NO,30,NO,19d,0105000020D70800000100000001020000000F00000000...
11,308144,SHORE ROAD,30,NO,30,NO,19d,0105000020D70800000100000001020000000200000000...
12,308145,SHORE ROAD,30,NO,30,NO,19d,0105000020D70800000100000001020000000200000000...

In [ ]:
y = db.query("""UPDATE public.speed_limit_19d
                SET postvz_sl = 30
                WHERE street = 'SHORE ROAD'
                AND segmentid in (95438,95445,179943,179942,179973,179944,307982,237256,308021,307983,308144,308022,308145)
                """)