In [1]:
from ris import pysqldb
from IPython.display import clear_output
from collections import defaultdict
from collections import defaultdict, namedtuple
import datetime 
import pandas as pd
import numpy as np
import os
from sqlalchemy import create_engine

clear_output()
timestamp = datetime.datetime.now().strftime('%Y-%m-%d_%H:%M')
ts = datetime.datetime.now().strftime('%Y-%m-%d')

print 'Notebook run: {}'.format(timestamp)
print os.getcwd()

Notebook run: 2020-02-28_17:18
E:\RIS\Staff Folders\Samuel\Requests\SH\Speed Humps

In [2]:
#Database connection
cdb = pysqldb.DbConnect(server='DOTDEVRHPGSQL01', database='CRASHDATA', type='PG')

Additional database connection details required:
User name (crashdata):soge
Password (crashdata)········
Database connection (PG) to CRASHDATA on DOTDEVRHPGSQL01 - user: soge
Connection established 2020-02-28 17:18:57

In [20]:
cdb.connect()

Database connection (PG) to CRASHDATA on DOTDEVRHPGSQL01 - user: soge
Connection established 2020-02-28 17:35:08

In [15]:
cdb.shp_to_table(path=r'E:\RIS\Staff Folders\Samuel\Requests\SH\Speed Humps\Installations_2018toJan2020',shp_name='Installations_2018toJan2020.shp',schema='working', table_name = 'Installations_2018toJan2020',  overwrite=True)

Query run in 24000 microseconds
Failure:

- Query run 2020-02-28 17:25:02.245000
	comment on table working."installations_2018tojan2020" is 'installations_2018tojan2020 created by soge on 2020-02-28 17:25
        - imported using pysql module -'

SystemExit:

In [21]:
cdb.csv_to_table(input_file=r'E:\RIS\Staff Folders\Samuel\Requests\SH\Speed Humps\Installations_2018toJan2020_.csv',schema='working', overwrite=True)

Bulk loading data...
Failure:

- Query run 2020-02-28 17:35:11.844000
	ALTER TABLE working.stg__soge_202002281735 DROP COLUMN IF EXISTS ogc_fid
Database connection (PG) to CRASHDATA on DOTDEVRHPGSQL01 - user: soge
Connection closed 2020-02-28 17:35:11
Database connection (PG) to CRASHDATA on DOTDEVRHPGSQL01 - user: soge
Connection established 2020-02-28 17:35:11
Failure:

- Query run 2020-02-28 17:35:11.905000
	select  * from working.stg__soge_202002281735 LIMIT 1
Database connection (PG) to CRASHDATA on DOTDEVRHPGSQL01 - user: soge
Connection closed 2020-02-28 17:35:11
Database connection (PG) to CRASHDATA on DOTDEVRHPGSQL01 - user: soge
Connection established 2020-02-28 17:35:11

TypeError: 'NoneType' object has no attribute '__getitem__'

In [13]:
def df_to_sql(df,tbl_name,db): 
    
    """ (df,tbl,name) """
    
    engine = create_engine('postgresql://{user}:{pw}@10.243.154.88:5432/CRASHDATA'.format(user=db.params['user'],
                                                                                          pw=db.params['password']),
                                                                                          echo=False)
    
    df.to_sql(name='{}'.format(tbl_name), con= engine, if_exists = 'replace', index=False, schema = 'working')
    
    #db.query("""ALTER TABLE {tbl}
    #            ALTER COLUMN geom TYPE Geometry USING geom::Geometry;
                
    #            grant all on {tbl} to public;""".format(tbl=tbl_name))
    
    return tbl_name

In [9]:
x=pd.read_csv('E:\RIS\Staff Folders\Samuel\Requests\SH\Speed Humps\Installations_2018toJan2020_.csv')

In [12]:
x

,STREET_1,STREET_2,STREET_3,BOROUGH,NOOFHUMPS,NEARSCHOO,DATEINSTA,DATEREINS,ORDERNO,SEGMENTID
0,EAST 107 STREET,AVENUE J,FLATLANDS AVENUE,Brooklyn,2,2,1/7/2020,NaN,B-01400494,128717
1,EAST 107 STREET,AVENUE J,FLATLANDS AVENUE,Brooklyn,2,2,1/7/2020,NaN,B-01400494,186735
2,EAST 107 STREET,AVENUE J,FLATLANDS AVENUE,Brooklyn,2,2,1/7/2020,NaN,B-01400494,186736
3,MIDWOOD STREET,KINGSTON AVENUE,BROOKLYN AVENUE,Brooklyn,1,0,12/16/2019,NaN,B-01399639,28864
4,OCEAN PARKWAY,AVENUE T,AVENUE U,Brooklyn,2,0,11/22/2019,NaN,B-01396949,25478
5,MIDWOOD STREET,KINGSTON AVENUE,BROOKLYN AVENUE,Brooklyn,1,0,11/19/2019,NaN,B-01399639,28864
6,ARTHUR AVENUE,EAST 179 STREET,EAST 180 STREET,Bronx,1,1,11/8/2019,NaN,B-01377722,78830
7,MARTHA AVENUE,EAST 238 STREET,EAST 237 STREET,Bronx,1,0,10/7/2019,NaN,B-01372533,88933
8,ST PAULS AVENUE,PAXTON STREET,CEBRA AVENUE,Staten Island,2,0,10/4/2019,NaN,B-01391714,15557
9,ST PAULS AVENUE,PAXTON STREET,CEBRA AVENUE,Staten Island,2,0,10/4/2019,NaN,B-01391714,15398
10,ST PAULS AVENUE,PAXTON STREET,CEBRA AVENUE,Staten Island,2,0,10/4/2019,NaN,B-01391714,15560
11,ST PAULS AVENUE,PAXTON STREET,CEBRA AVENUE,Staten Island,2,0,10/4/2019,NaN,B-01391714,15558
12,ST PAULS AVENUE,SWAN STREET,PAXTON STREET,Staten Island,1,0,9/30/2019,NaN,B-01391714,16339
13,ST PAULS AVENUE,SWAN STREET,PAXTON STREET,Staten Island,1,0,9/30/2019,NaN,B-01391714,16337
14,REVIEW AVENUE,LAUREL HILL BOULEVARD,37 STREET,Queens,4,0,9/28/2019,NaN,B-01388849 / 01388850,113005
15,REVIEW AVENUE,LAUREL HILL BOULEVARD,37 STREET,Queens,4,0,9/28/2019,NaN,B-01388849 / 01388850,281448
16,REVIEW AVENUE,LAUREL HILL BOULEVARD,37 STREET,Queens,4,0,9/28/2019,NaN,B-01388849 / 01388850,281449
17,VANDERBILT AVENUE,IRVING PLACE,PRINCE STREET,Staten Island,1,0,9/24/2019,NaN,B-01388480 / 01388523,15317
18,VANDERBILT AVENUE,OSGOOD AVENUE,PARK HILL LANE,Staten Island,1,0,9/21/2019,NaN,B-1388480 / 01388523,15478
19,VANDERBILT AVENUE,PLEASANT PLACE,PINE PLACE,Staten Island,1,0,9/20/2019,NaN,B-01388480 / 01388523,15503
20,JERSEY STREET,CRESCENT AVENUE,RICHMOND TERRACE,Staten Island,2,0,9/18/2019,NaN,B-01375771 / 01375790,9005324
21,JERSEY STREET,CRESCENT AVENUE,RICHMOND TERRACE,Staten Island,2,0,9/18/2019,NaN,B-01375771 / 01375790,16201
22,JERSEY STREET,CRESCENT AVENUE,RICHMOND TERRACE,Staten Island,2,0,9/18/2019,NaN,B-01375771 / 01375790,9005334
23,JERSEY STREET,CRESCENT AVENUE,RICHMOND TERRACE,Staten Island,2,0,9/18/2019,NaN,B-01375771 / 01375790,9005331
24,JERSEY STREET,CRESCENT AVENUE,RICHMOND TERRACE,Staten Island,2,0,9/18/2019,NaN,B-01375771 / 01375790,9005336
25,JERSEY STREET,CRESCENT AVENUE,RICHMOND TERRACE,Staten Island,2,0,9/18/2019,NaN,B-01375771 / 01375790,9005330
26,JERSEY STREET,CRESCENT AVENUE,RICHMOND TERRACE,Staten Island,2,0,9/18/2019,NaN,B-01375771 / 01375790,9005335
27,JERSEY STREET,CRESCENT AVENUE,RICHMOND TERRACE,Staten Island,2,0,9/18/2019,NaN,B-01375771 / 01375790,9005337
28,JERSEY STREET,CRESCENT AVENUE,RICHMOND TERRACE,Staten Island,2,0,9/18/2019,NaN,B-01375771 / 01375790,9005325
29,JERSEY STREET,CRESCENT AVENUE,RICHMOND TERRACE,Staten Island,2,0,9/18/2019,NaN,B-01375771 / 01375790,9005326
...,...,...,...,...,...,...,...,...,...,...
1064,EAST 240 STREET,MARTHA AVENUE,NEREID AVE,Bronx,1,1,11/27/2018,NaN,B-01329392,178599
1065,EAST 240 STREET,MARTHA AVENUE,NEREID AVE,Bronx,1,1,11/27/2018,NaN,B-01329392,89056
1066,PARK HILL AVENUE,SOBEL COURT,OSGOOD AVENUE,Staten Island,2,0,4/30/2018,NaN,B-01299298 / 01299363,15319
1067,PARK HILL AVENUE,SOBEL COURT,OSGOOD AVENUE,Staten Island,2,0,4/30/2018,NaN,B-01299298 / 01299363,9008770
1068,PARK HILL AVENUE,SOBEL COURT,OSGOOD AVENUE,Staten Island,2,0,4/30/2018,NaN,B-01299298 / 01299363,15324
1069,PARK HILL AVENUE,SOBEL COURT,OSGOOD AVENUE,Staten Island,2,0,4/30/2018,NaN,B-01299298 / 01299363,9008771
1070,REEVES AVENUE,153 STREET,HORACE HARDING EXPY,Queens,1,1,9/12/2018,NaN,B-01325791 / 01325804,90452
1071,REEVES AVENUE,153 STREET,HORACE HARDING EXPY,Queens,1,1,9/12/2018,NaN,B-01325791 / 01325804,116742
1072,REEVES AVENUE,153 STREET,HORACE HARDING EXPY,Queens,1,1,9/12/2018,NaN,B-01325791 / 01325804,116743
1073,HIGHLAND BOULEVARD,VERMONT PLACE,JAMAICA AVENUE,Brooklyn,2,0,6/11/2018,7/1/2019,B-01306234 / 01306241,47912
1074,EAST 240 STREET,MARTHA AVENUE,NEREID AVE,Bronx,1,1,11/27/2018,NaN,B-01329392,178599
1075,EAST 240 STREET,MARTHA AVENUE,NEREID AVE,Bronx,1,1,11/27/2018,NaN,B-01329392,89056
1076,PARK HILL AVENUE,SOBEL COURT,OSGOOD AVENUE,Staten Island,2,0,4/30/2018,NaN,B-01299298 / 01299363,15319
1077,PARK HILL AVENUE,SOBEL COURT,OSGOOD AVENUE,Staten Island,2,0,4/30/2018,NaN,B-01299298 / 01299363,9008770
1078,PARK HILL AVENUE,SOBEL COURT,OSGOOD AVENUE,Staten Island,2,0,4/30/2018,NaN,B-01299298 / 01299363,15324
1079,PARK HILL AVENUE,SOBEL COURT,OSGOOD AVENUE,Staten Island,2,0,4/30/2018,NaN,B-01299298 / 01299363,9008771
1080,REEVES AVENUE,153 STREET,HORACE HARDING EXPY,Queens,1,1,9/12/2018,NaN,B-01325791 / 01325804,90452
1081,REEVES AVENUE,153 STREET,HORACE HARDING EXPY,Queens,1,1,9/12/2018,NaN,B-01325791 / 01325804,116742
1082,REEVES AVENUE,153 STREET,HORACE HARDING EXPY,Queens,1,1,9/12/2018,NaN,B-01325791 / 01325804,116743
1083,WEST 17 STREET,5 AVENUE,6 AVENUE,Manhattan,2,2,8/8/2018,NaN,B-01318854,32811
1084,UNIVERSITY AVENUE,WEST 168 STREET,WEST 170 STREET,Bronx,3,0,12/4/2018,NaN,B-01329328,299632
1085,UNIVERSITY AVENUE,WEST 168 STREET,WEST 170 STREET,Bronx,3,0,12/4/2018,NaN,B-01329328,71445
1086,64 AVENUE,110 STREET,GRAND CENTRAL PARKWAY,Queens,1,0,6/26/2018,NaN,B-01310208,131149
1087,64 AVENUE,110 STREET,GRAND CENTRAL PARKWAY,Queens,1,0,6/26/2018,NaN,B-01310208,131148
1088,BERGEN STREET,ROCKAWAY AVENUE,THOMAS S BOYLAND STREET,Brooklyn,2,2,6/12/2018,NaN,B-01302455,43875
1089,MACON STREET,MALCOLM X BLVD,PATCHEN AVENUE,Brooklyn,2,0,4/12/2018,NaN,B-01299257,43319
1090,LEXINGTON AVENUE,MARCUS GARVEY BLVD,THROOP AVENUE,Brooklyn,2,0,4/11/2018,NaN,B-01299289,44104
1091,PARK AVENUE,EAST 179 STREET,EAST 178 STREET,Bronx,1,0,10/18/2018,NaN,B-01325420,298381
1092,STATEN ISLAND FERRY PARKING ACCESS ROAD,NO NAME STREET,STATEN ISLAND FERRY PEDESTRIAN PLAZA,STATEN ISLAND FERRY,1,0,10/24/2018,NaN,B-01330324,315356
1093,OCEAN PARKWAY SR,AVENUE K,AVENUE J,BROOKLYN,2,0,8/3/2018,NaN,B-01318811,136821

In [13]:
df_to_sql(x,'Installations_2018toJan2020',cdb)

'Installations_2018toJan2020'