# Default Import

In [1]:
from ris import pysqldb
from IPython.display import Markdown, clear_output
from sqlalchemy import create_engine
import ris
import getpass
import datetime 
import pandas as pd
import numpy as np
import os
import requests

timestamp = datetime.datetime.now().strftime('%Y-%m-%d %H:%M')
ts = datetime.datetime.now().strftime('%Y-%m-%d')

Markdown('<strong>Notebook run on: {} | by {} | Using ris library version: {} | File Location: {}'.format(
    timestamp, getpass.getuser(), ris.__version__, os.getcwd()
))

<strong>Notebook run on: 2021-03-05 13:05 | by soge | Using ris library version: 2.1 | File Location: E:\RIS\Staff Folders\Samuel\Requests\SH\Speed Limits\Milford_Drive

# Db connections

In [2]:
try: 
    db.params['user']
except:
    db = pysqldb.DbConnect(type='PG', server='dotdevrhpgsql01', database='CRASHDATA')

Additional database connection details required:
User name (crashdata):soge
Password (crashdata)········

In [3]:
#sip = pysqldb.DbConnect(server='dotpgsql01', database='sip', type='PG', user = db.params['user'], password = db.params['password'])
#forms = pysqldb.DbConnect(server='dot55sql01', database='forms', type='MS', user = 'arcgis', password = 'arcgis')

#BACK UP SPEED LIMITS FILE
#CREATE A TABLE WITH SPEED LIMITS DATA AND TODAY'S DATE
#i.e Archive Copy

In [4]:
db.query("""
CREATE TABLE archive_speed_limit_19d_30521 AS

SELECT * FROM speed_limit_19d;

GRANT ALL ON archive_speed_limit_19d_30521 TO PUBLIC;
""")

- Query run 2021-03-05 13:09:49.292000
 Query time: Query run in 197000 microseconds
 * Returned 0 rows *

Streets: 

Milford Avenue from Ocean Terrace to Clove Road

In [10]:
# 1. Milford Avenue from Ocean Terrace to Clove Road - signed for 30

segments = ['12806', '12806', '12806', '13100', '160450', '13107', '114842', '114839', '12701', '114839', '114839', '114841', '160451', '114703', '114840', '114704', '12800', '114838', '13095', '12944', '13112', '13116']

### Inserting into Speed limits table if necessary

insert = db.dfquery("""
INSERT INTO speed_limit_19d(segmentid, street, postvz_sl, postvz_sg, prevz_sl, prevz_sg, version, geom)
SELECT segmentid::int , street, 0 postvz_sl, 'NO'::varchar postvz_sg, 0 prevz_sl, 'NO'::varchar _prevz_sg, '19d' "version", geom
FROM LION
WHERE segmentid ::int IN  ('0312733', '0312802', '0312769')
""")

In [11]:
x = db.dfquery("""
SELECT segmentid, street, postvz_sl, postvz_sg, prevz_sl, prevz_sg, 
       version, geom
FROM public.speed_limit_19d
WHERE 
--1. Milford Avenue from Ocean Terrace to Clove Road- signed for 30
segmentid ::int IN  ('12806', '12806', '12806', '13100', '160450', '13107', 
                     '114842', '114839', '12701', '114839', '114839', '114841', 
                     '160451', '114703', '114840', '114704', '12800', '114838', 
                     '13095', '12944', '13112', '13116');
""")

In [12]:
x

,segmentid,street,postvz_sl,postvz_sg,prevz_sl,prevz_sg,version,geom
0,12806,MILFORD DRIVE,25,NO,30,NO,19d,0105000020D70800000100000001020000000200000000...
1,12944,MILFORD DRIVE,25,NO,30,NO,19d,0105000020D70800000100000001020000000200000080...
2,13095,MILFORD DRIVE,25,NO,30,NO,19d,0105000020D70800000100000001020000000200000080...
3,13100,MILFORD DRIVE,25,NO,30,NO,19d,0105000020D70800000100000001020000000200000080...
4,13107,MILFORD DRIVE,25,NO,30,NO,19d,0105000020D70800000100000001020000000200000000...
5,13112,MILFORD DRIVE,25,NO,30,NO,19d,0105000020D70800000100000001020000000200000080...
6,13116,MILFORD DRIVE,25,NO,30,NO,19d,0105000020D70800000100000001020000000200000000...

In [16]:
#segs = tuple(map(int,list(x.segmentid)))
segs = tuple(map(int,segments))

In [18]:
y = db.query("""UPDATE public.speed_limit_19d
                SET postvz_sl = 30
                WHERE segmentid in {}
                """.format(segs))

- Query run 2021-03-05 13:16:50.353000
 Query time: Query run in 52000 microseconds
 * Returned 0 rows *