### Example for SELECT INTO TEMP TABLE STATEMENT SQL

IF OBJECT_ID('tempdb.dbo.#data', 'U') IS NOT NULL
DROP TABLE #data; 

SELECT * INTO #data 
FROM (
SELECT STATEMENT
) as x;
""")

### Example for SELECT INTO  TABLE STATEMENT SQL

IF OBJECT_ID('dbo.#data', 'U') IS NOT NULL
DROP TABLE data; 

SELECT * INTO data 
FROM (
SELECT STATEMENT
) as x;
""")

### FORMS DATA JOINS

In [ ]:
SELECT *
FROM FORMS.DBO.WC_ACCIDENT_F core
JOIN FORMS.DBO.WC_ACCIDENT_VICTIM_F vic
ON core.INTEGRATION_ID = vic.ACCIDENT_ID
LEFT JOIN FORMS.DBO.WC_ACCIDENT_VEHICLE_F veh
ON vic.ACCIDENT_ID = veh.ACCIDENT_ID AND vic.VEHICLE_NUM = veh.VEHICLE_NUM
AND core.ACCIDENT_DT >= '01/01/2021'

### FATALITY DATA JOINS

In [ ]:
SELECT *
FROM public.fatal_crash fc
JOIN public.fatal_victim fv
ON fc.fid = fv.fid
AND left(ac_date,4)::int between 2014 and 2018

### WRITING MULTIPLE DATAFRAMES TO XL

In [ ]:
writer = pd.ExcelWriter('SHEET_NAME_{}.xlsx'.format(date), engine='xlsxwriter')    
df1.to_excel(writer, sheet_name='sheet_name1', index= False)
df2.to_excel(writer, sheet_name='sheet_name2', index= False)
df3.to_excel(writer, sheet_name='sheet_name3', index= False)
dfn.to_excel(writer, sheet_name='sheet_namen')
writer.save()