# Need Data Dictionary for TAMS

In [2]:
import pandas as pd
import ris
from ris import db2
from ris.db2 import pg_shp as shp
import os
from tqdm import tqdm
from IPython.display import clear_output
import getpass
import datetime
from IPython.display import Markdown
from dateutil.relativedelta import relativedelta
Markdown('<strong>Notebook run on: {} | by {} | Using ris library version: {}'.format(
    datetime.datetime.now().strftime('%Y-%m-%d %H:%M'), getpass.getuser(), ris.__version__
))

<strong>Notebook run on: 2019-08-15 15:27 | by bfeng | Using ris library version: 1.3.10

In [4]:
db = db2.PostgresDb('dotdevrhpgsql01','CRASHDATA')

User name (CRASHDATA):bfeng
Password (CRASHDATA)········

In [5]:
forms = db2.SqlDb('dot55sql01', 'forms', user='arcgis', db_pass='arcgis', quiet = True)

In [6]:
# nodes = db2.query_to_table(db,'select nodeid from node where is_int = true').nodeid.tolist()

In [7]:
end = datetime.datetime.now().strftime('%Y-%m-%d') 
start = (datetime.datetime.now() - relativedelta(years=3)).strftime('%Y-%m-%d')

# Leap Years?

In [8]:
@db2.timeDec

def all_crashes():
    crashes = db2.query_to_table(forms,"""select coalesce(c.nodeid, c.lion_node_number) nodeid, 
    integration_id, cast(c.accident_dt as date) accident_dt
    from forms.dbo.wc_accident_f c
    where year(c.accident_dt) >= 2017
    and accident_dt between '{start}' and '{end}'
    and coalesce(c.nodeid, c.lion_node_number) is not null
    union select min(s.nodeid) nodeid, integration_id, cast(c.accident_dt as date) accident_dt
    from forms.dbo.wc_accident_f c
    join [FORMS].[dbo].[v_IntersectionStreetNames_Gen] s
    on 
    lower(ltrim(rtrim(c.SRC_ON_STREET))) = lower(ltrim(rtrim(s.street_1))) 
    and
    lower(ltrim(rtrim(c.SRC_cross_STREET))) = lower(ltrim(rtrim(s.street_2)))
    and 
    case WHEN C.[SRC_POLICE_PRECINCT] BETWEEN 1 AND 34 THEN 1
        WHEN C.[SRC_POLICE_PRECINCT] BETWEEN 40 AND 52 THEN 2
        WHEN C.[SRC_POLICE_PRECINCT] BETWEEN 60 AND 94 THEN 3
        WHEN C.[SRC_POLICE_PRECINCT] BETWEEN 100 AND 115 THEN 4
        WHEN C.[SRC_POLICE_PRECINCT] BETWEEN 120 AND 123 THEN 5 end 
    in (left(b7sc_2, 1), left(b7sc_1, 1))
    where year(c.accident_dt) >= 2017
    and accident_dt between '{start}' and '{end}'
    and coalesce(c.nodeid, c.lion_node_number) is null
    group by integration_id, cast(c.accident_dt as date)
    order by nodeid, cast(c.accident_dt as date) desc
        """.format(start=start, end=end))
    
    return crashes

In [29]:
crashes = all_crashes()

'all_crashes' 55.23 sec

In [30]:
crashes.head()

   nodeid integration_id accident_dt
0      25     0103718123  2018-07-20
1      26     0006617123  2017-01-11
2      27     0127318123  2018-09-04
3      27     0143317123  2017-09-26
4      51     0073718123  2018-05-22

# Need Preventable Crashes

In [31]:
# @db2.timeDec

# def preventable_crashes(crashes):

In [33]:
def crashes_5(crashes):
    counts = crashes.groupby('nodeid', as_index = False).integration_id.count()
    counts = counts.rename(index=str, columns = {'integration_id':'crashes'})
    crashes = crashes.merge(counts)
    crashes = crashes.loc[crashes.crashes >= 5]
    return crashes

In [48]:
crashes = crashes_5(crashes)

In [49]:
@db2.timeDec

def crash_diff(preventables):
    preventables.accident_dt = pd.to_datetime(preventables.accident_dt)
    preventables['dif'] = preventables.groupby('nodeid').accident_dt.diff(periods=-4) # take every 5th date difference per node
    return preventables

In [50]:
crash_diff(crashes)

'crash_diff' 5.51 sec

         nodeid integration_id accident_dt      dif  crashes
44          129     0169318123  2018-11-18 227 days       11
45          129     0168618123  2018-11-15 224 days       11
46          129     0076818123  2018-05-29 103 days       11
47          129     0067818123  2018-05-12 182 days       11
48          129     0050118123  2018-04-05 297 days       11
49          129     0050318123  2018-04-05 385 days       11
50          129     0026518123  2018-02-15 383 days       11
51          129     0169817123  2017-11-11      NaT       11
52          129     0087817123  2017-06-12      NaT       11
53          129     0039517123  2017-03-16      NaT       11
54          129     0015817123  2017-01-28      NaT       11
59          133     0074119123  2019-07-31 217 days        9
60          133     0069619123  2019-07-15 368 days        9
61          133     0060619123  2019-06-13 511 days        9
62          133     0009519123  2019-01-21 613 days        9
63          133     0191918123  2018-12-26 724 days        9
64          133     0099518123  2018-07-12      NaT        9
65          133     0011418123  2018-01-18      NaT        9
66          133     0074417123  2017-05-18      NaT        9
67          133     0000317123  2017-01-01      NaT        9
72          137     0169818123  2018-11-19 456 days        7
73          137     0006018123  2018-01-09 260 days        7
74          137     0184817123  2017-12-08 232 days        7
75          137     0154517123  2017-10-17      NaT        7
76          137     0124417123  2017-08-20      NaT        7
77          137     0059417123  2017-04-24      NaT        7
78          137     0057717123  2017-04-20      NaT        7
79          139     0187118123  2018-12-20 499 days        6
80          139     0126818123  2018-09-01 536 days        6
81          139     0121418123  2018-08-23      NaT        6
...         ...            ...         ...      ...      ...
500536  9051742     0167618041  2018-10-22 285 days       27
500537  9051742     0134018041  2018-08-23 239 days       27
500538  9051742     0133018041  2018-08-21 262 days       27
500539  9051742     0014118041  2018-01-26 120 days       27
500540  9051742     0006218041  2018-01-10 222 days       27
500541  9051742     0200017041  2017-12-27 228 days       27
500542  9051742     0186817041  2017-12-02 265 days       27
500543  9051742     0149517041  2017-09-28 219 days       27
500544  9051742     0083317041  2017-06-02      NaT       27
500545  9051742     0070917041  2017-05-13      NaT       27
500546  9051742     0036217041  2017-03-12      NaT       27
500547  9051742     0026817041  2017-02-21      NaT       27
500562  9053391     0218619102  2019-07-18  58 days       18
500563  9053391     0207519102  2019-07-09  61 days       18
500564  9053391     0190119102  2019-06-23  88 days       18
500565  9053391     0134119112  2019-06-15  93 days       18
500566  9053391     0150919102  2019-05-21 115 days       18
500567  9053391     0135519102  2019-05-09 120 days       18
500568  9053391     0068619112  2019-03-27 134 days       18
500569  9053391     0077719102  2019-03-14 141 days       18
500570  9053391     0019619112  2019-01-26 105 days       18
500571  9053391     0006219112  2019-01-09  88 days       18
500572  9053391     0273618112  2018-11-13  47 days       18
500573  9053391     0254418112  2018-10-24  36 days       18
500574  9053391     0244018112  2018-10-13 124 days       18
500575  9053391     0244318112  2018-10-13 124 days       18
500576  9053391     0229118112  2018-09-27      NaT       18
500577  9053391     0293618102  2018-09-18      NaT       18
500578  9053391     0135518112  2018-06-11      NaT       18
500579  9053391     0135618112  2018-06-11      NaT       18

[468709 rows x 5 columns]

In [9]:
@db2.timeDec

def five_crash_window(preventables):
    preventables.accident_dt = pd.to_datetime(preventables.accident_dt)
    preventables['dif'] = preventables.groupby('nodeid').accident_dt.diff(periods=4) # take every 5th date difference per node
    preventables['dif'] = preventables['dif'].dt.days # convert to int
    preventables['five_yr'] = 0
    preventables.loc[preventables.dif >= -365, 'five_yr'] = 1 # boolean for 5 preventables within 365 days
    for i in preventables.loc[preventables.five_yr == 1].index:
        preventables.at[i, 'window_start'] = preventables.at[i-4, 'accident_dt'] # window start is 4th preceding crash
        preventables.at[i, 'window_end'] = preventables.at[i-4, 'accident_dt'] - relativedelta(years=1) # window end is start + 1 yr
    return preventables

In [10]:
crash5 = five_crash_window(crashes)

'five_crash_window' 30.92 sec

In [11]:
crash5.loc[crash5.nodeid.isin(crash5.loc[crash5.five_yr == 1].nodeid.tolist())]

,nodeid,integration_id,accident_dt,dif,five_yr,window_start,window_end
43,129,0169318123,2018-11-18,NaN,0,NaT,NaT
44,129,0168618123,2018-11-15,NaN,0,NaT,NaT
45,129,0076818123,2018-05-29,NaN,0,NaT,NaT
46,129,0067818123,2018-05-12,NaN,0,NaT,NaT
47,129,0050118123,2018-04-05,-227.0,1,2018-11-18,2017-11-18
48,129,0050318123,2018-04-05,-224.0,1,2018-11-15,2017-11-15
49,129,0026518123,2018-02-15,-103.0,1,2018-05-29,2017-05-29
50,129,0169817123,2017-11-11,-182.0,1,2018-05-12,2017-05-12
51,129,0087817123,2017-06-12,-297.0,1,2018-04-05,2017-04-05
52,129,0039517123,2017-03-16,-385.0,0,NaT,NaT
53,129,0015817123,2017-01-28,-383.0,0,NaT,NaT
58,133,0074119123,2019-07-31,NaN,0,NaT,NaT
59,133,0069619123,2019-07-15,NaN,0,NaT,NaT
60,133,0060619123,2019-06-13,NaN,0,NaT,NaT
61,133,0009519123,2019-01-21,NaN,0,NaT,NaT
62,133,0191918123,2018-12-26,-217.0,1,2019-07-31,2018-07-31
63,133,0099518123,2018-07-12,-368.0,0,NaT,NaT
64,133,0011418123,2018-01-18,-511.0,0,NaT,NaT
65,133,0074417123,2017-05-18,-613.0,0,NaT,NaT
66,133,0000317123,2017-01-01,-724.0,0,NaT,NaT
71,137,0169818123,2018-11-19,NaN,0,NaT,NaT
72,137,0006018123,2018-01-09,NaN,0,NaT,NaT
73,137,0184817123,2017-12-08,NaN,0,NaT,NaT
74,137,0154517123,2017-10-17,NaN,0,NaT,NaT
75,137,0124417123,2017-08-20,-456.0,0,NaT,NaT
76,137,0059417123,2017-04-24,-260.0,1,2018-01-09,2017-01-09
77,137,0057717123,2017-04-20,-232.0,1,2017-12-08,2016-12-08
146,196,0171918123,2018-11-22,NaN,0,NaT,NaT
147,196,0171318123,2018-11-21,NaN,0,NaT,NaT
148,196,0137818123,2018-09-23,NaN,0,NaT,NaT
...,...,...,...,...,...,...,...
500090,9051742,0167618041,2018-10-22,-112.0,1,2019-02-11,2018-02-11
500091,9051742,0134018041,2018-08-23,-168.0,1,2019-02-07,2018-02-07
500092,9051742,0133018041,2018-08-21,-109.0,1,2018-12-08,2017-12-08
500093,9051742,0014118041,2018-01-26,-298.0,1,2018-11-20,2017-11-20
500094,9051742,0006218041,2018-01-10,-285.0,1,2018-10-22,2017-10-22
500095,9051742,0200017041,2017-12-27,-239.0,1,2018-08-23,2017-08-23
500096,9051742,0186817041,2017-12-02,-262.0,1,2018-08-21,2017-08-21
500097,9051742,0149517041,2017-09-28,-120.0,1,2018-01-26,2017-01-26
500098,9051742,0083317041,2017-06-02,-222.0,1,2018-01-10,2017-01-10
500099,9051742,0070917041,2017-05-13,-228.0,1,2017-12-27,2016-12-27
500100,9051742,0036217041,2017-03-12,-265.0,1,2017-12-02,2016-12-02
500101,9051742,0026817041,2017-02-21,-219.0,1,2017-09-28,2016-09-28
500116,9053391,0218619102,2019-07-18,NaN,0,NaT,NaT
500117,9053391,0207519102,2019-07-09,NaN,0,NaT,NaT
500118,9053391,0190119102,2019-06-23,NaN,0,NaT,NaT
500119,9053391,0134119112,2019-06-15,NaN,0,NaT,NaT
500120,9053391,0150919102,2019-05-21,-58.0,1,2019-07-18,2018-07-18
500121,9053391,0135519102,2019-05-09,-61.0,1,2019-07-09,2018-07-09
500122,9053391,0068619112,2019-03-27,-88.0,1,2019-06-23,2018-06-23
500123,9053391,0077719102,2019-03-14,-93.0,1,2019-06-15,2018-06-15
500124,9053391,0019619112,2019-01-26,-115.0,1,2019-05-21,2018-05-21
500125,9053391,0006219112,2019-01-09,-120.0,1,2019-05-09,2018-05-09
500126,9053391,0273618112,2018-11-13,-134.0,1,2019-03-27,2018-03-27
500127,9053391,0254418112,2018-10-24,-141.0,1,2019-03-14,2018-03-14
500128,9053391,0244018112,2018-10-13,-105.0,1,2019-01-26,2018-01-26
500129,9053391,0244318112,2018-10-13,-88.0,1,2019-01-09,2018-01-09
500130,9053391,0229118112,2018-09-27,-47.0,1,2018-11-13,2017-11-13
500131,9053391,0293618102,2018-09-18,-36.0,1,2018-10-24,2017-10-24
500132,9053391,0135518112,2018-06-11,-124.0,1,2018-10-13,2017-10-13
500133,9053391,0135618112,2018-06-11,-124.0,1,2018-10-13,2017-10-13

In [20]:
@db2.timeDec

def last_window(preventables_5):
    latest_start = preventables_5.groupby('nodeid', as_index = False).window_start.max()
    latest_start = latest_start.rename(index = str, columns = {'window_start':'latest_start'})
    latest_end = preventables_5.groupby('nodeid', as_index = False).window_end.max()
    latest_end = latest_end.rename(index = str, columns = {'window_end':'latest_end'})    
    preventables_5 = preventables_5.merge(latest_start.merge(latest_end), how = 'left')
    preventables_5.loc[(preventables_5.accident_dt >= preventables_5.latest_end) & \
                       (preventables_5.accident_dt <= preventables_5.latest_start), 'last_in'] = 1
    return preventables_5

In [21]:
last_window_crashes = last_window(crash5)

'last_window' 0.26 sec

In [146]:
last_window_crashes.loc[(last_window_crashes.accident_dt >= last_window_crashes.latest_end) & \
                       (last_window_crashes.accident_dt <= last_window_crashes.latest_start), 'last_in'] = 1