In [264]:
from ris import pysqldb
import datetime
import re
import configparser
#from helper import *
from IPython.display import clear_output
import pandas as pd
import numpy as np
import os
from sqlalchemy import create_engine

config = configparser.ConfigParser()
config.read('db.cfg')

clear_output()
timestamp = datetime.datetime.now().strftime('%Y-%m-%d_%H:%M')
ts = datetime.datetime.now().strftime('%m-%d-%Y')

print 'Notebook run: {}'.format(timestamp)
print os.getcwd()

Notebook run: 2020-06-22_10:49
E:\RIS\Staff Folders\Samuel\Requests\SH\RIS DB

In [265]:
db = pysqldb.DbConnect(type='PG', server='dotdevrhpgsql01', database='ris')

Additional database connection details required:
User name (ris):soge
Password (ris)········
Database connection (PG) to ris on dotdevrhpgsql01 - user: soge
Connection established 2020-06-22 10:49:29

In [266]:
table = 'SIGNAL_CONTROLLER'

In [27]:
#1. Identify IT table to be moved over to RIS DB
# RAW DATA INPUT FILES
# Copy '[GISGRID].[gisadmin].[SIGNAL_CONTROLLER]' to staging

def table_in_ris_db(dbo,table):    
    """
    Function to check if table is already in ris database
    :param dbo: pysqldb DbConnect instance of ris database
    :param table: table name
    :return: 
    """   
    
    tbl_names = db.dfquery("""SELECT table_name
                              FROM information_schema.tables
                              WHERE table_schema='staging'
                              AND table_type='BASE TABLE';""")
    
    
    if 'stg_' + table.lower() in list(tbl_names.table_name):
        return True
    else:
        return False

In [29]:
#table_in_ris_db(db,'SIGNAL_CONTROLLER')

In [ ]:
#2. Copy table to pg staging schema

def signal_data_to_stg():
    """
    Function to copy signals table to ris database
    :param dbo: pysqldb DbConnect instance of ris database
    :param table: table name
    :return: 
    """ 

    dest_pg = pysqldb.DbConnect(type='PG', server=SERVER, database=DATABASE)
    src_pg = pysqldb.DbConnect(server='dotgissql01', database='gisgrid', type='MS', user = 'GISUSER', password = 'GISUSER')
    src_schema = 'gisadmin'
    tbl = 'SIGNAL_CONTROLLER'
    copy_table_ms_to_pg(src_pg, src_schema, dest_pg, tbl)

In [ ]:
#3. Review log and decide if update is required.

def time_to_update(dbo, table, last_update, tbl_int):
    """
    Function to check if it is time to update passed table
    :param dbo: pysqldb DbConnect instance of ris database
    :param table: table name
    :param time: last date table was updated
    :param interval: table update interval
    :return: 
    """
    today = datetime.datetime.now()
    time_to_update =  today - last_update
    #if time_to_update > tbl_int:
    return True
    #else:
    return False

In [ ]:
   
#4. Clean table and move table to public
#   Clean up table and perform necessary transformations

def signal_data_clean(dbo, tbl):
    """
    Function to clean signals table after it has been moved to ris db
    :param dbo: pysqldb DbConnect instance of ris database
    :param table: table name
    :return: 
    """
    
    pwa_control()
    
    pysqldb.set_permissions(db, tbl, schema, src)

In [ ]:
#5. After table is successfully moved to public schema, run record_update to update record log 

def record_update(db, tbl):
    """
    Function to record that table has been updated
    :param dbo: pysqldb DbConnect instance of ris database
    :param table: table name
    :return: 
    """
    #TODO: Workflow to record the update details

In [ ]:
#6. Archive old data 

def archive_table(db, tbl):
    """
    Function to archive old data 
    :param dbo: pysqldb DbConnect instance of ris database
    :param table: table name
    :return: 
    """
    #TODO: Workflow to identify most recent data and archive old data
    
    
    pysqldb.pg_to_pg(src_pg, dest_pg, tbl, org_schema=src_schema, dest_schema='staging', dest_name=staging_name)
    
    src_pg = pysqldb.DbConnect(type='PG', server='dotdevrhpgsql01', database='ris')
    dest_pg = pysqldb.DbConnect(type='PG', server='dotdevrhpgsql01', database='ris')
    srch_schema = 'staging'
    table_name = tbl
    archive_table_pg(src_pg, src_schema, dest_pg, tbl)
    
signal_data_to_stg()

In [30]:
ts

'06-08-2020'

In [47]:
x = db.dfquery("""SELECT * 
              FROM public._tbl_updates_""")

x.last_updated.iloc[0]

In [52]:
table_name = 'ais_pd_core_f'

In [53]:
db.query("select last_updated from public._tbl_updates_ where table_name = '%s'" % table_name)

- Query run 2020-06-09 16:48:26.175000
 Query time: Query run in 4000 microseconds
 * Returned 1 rows *

In [61]:
last_updated = db.data[0][0]

In [63]:
last_updated

datetime.datetime(2020, 5, 5, 15, 13, 36, 256261)

In [64]:
today = datetime.datetime.now()

In [68]:
today

datetime.datetime(2020, 6, 9, 16, 49, 35, 902000)

In [75]:
(today-last_updated).days

35

In [81]:
print """ALTER TABLE {tbl}
         RENAME TO archive_{tbl};""".format(tbl=tbl)

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 33))

NameError: name 'tbl' is not defined

In [84]:
table = 'stg_signal_controller'

In [86]:
print """CREATE TABLE public.{t}_copy AS SELECT * FROM staging.{t}""".format(t=table)

CREATE TABLE public.stg_signal_controller_copy AS SELECT * FROM staging.stg_signal_controller

In [97]:
db.connect()

Database connection (PG) to ris on dotdevrhpgsql01 - user: soge
Connection established 2020-06-10 16:58:41

In [102]:
sig = db.dfquery("select * from staging.stg_signal_controller limit 1")

In [103]:
sig

,objectid,psgm_id,police,policekey,boro,geo1,geo2,seqno,gisgrid_gisadmin_sig_trpsgm_are,contrno,...,atcs_cabinet_address_hex,contractor_reference_number,longitude,latitude,signalinstalldate,point_x,point_y,last_updated,url,shape
0,7923815,10001,10005000580,I,1,11610,14010,1,001,1,...,0F96,10001,-73.99247600,40.71507200,1970-05-22 00:00:00.0000000,986336.14903097,199793.60932080,6/10/2020,<a href='https://www.google.com/maps/@40.71507...,010100000080BA494CC0192E4100AED8DF8C630841

In [107]:
x = list(sig.columns)

In [117]:
x

['objectid',
 'psgm_id',
 'police',
 'policekey',
 'boro',
 'geo1',
 'geo2',
 'seqno',
 'gisgrid_gisadmin_sig_trpsgm_are',
 'contrno',
 'contrtype',
 'contrsn',
 'rcotype',
 'rco_sn',
 'computer',
 'st1_code',
 'st1_name',
 'st2_code',
 'st2_name',
 'st3_code',
 'st3_name',
 'st4_code',
 'st4_name',
 'geokey1',
 'on_line',
 'mach',
 'sect',
 'logical',
 'cntrlpm',
 'tsmp',
 'psgm',
 'normalizedtype',
 'nodeid',
 'segmentid',
 'atcs_cabinet_address_hex',
 'contractor_reference_number',
 'longitude',
 'latitude',
 'signalinstalldate',
 'point_x',
 'point_y',
 'last_updated',
 'url',
 'shape']

In [ ]:
psgm_id,signalinstalldate,point_x,point_y,shape

In [ ]:
#Sig id, date installed, xy coordinates, nodeid, segmentid if its a mid block signal

In [13]:
db.query("""
            SELECT 'SIG' typ, psgm_id::int, longitude lon, latitude lat, signalinstalldate
            FROM staging.stg_signal_controller
            WHERE NormalizedType != 'Z'
            and longitude is not null

                    """)

- Query run 2020-06-15 11:35:15.105000
 Query time: Query run in 100000 microseconds
 * Returned 13403 rows *

In [14]:
result = db.data

In [267]:
def xy_to_geom(cdb,*args): 
    
    """
    Function that generates the hexidecimal geomteric string 
    of every input coordinate. 
   
    Args:
        cdb param: Database Connection Function for PostgreSQL 
        
    *args
        xy arg: X,Y coordinates 
                format: [[x,y][x,y]] or xy=[x,y] or input x=x,y=y

    Returns:
        geom (str): Hexidecimal geomteric string 
        
    
    e.g.
    
    Input:
    
    xy_to_geom(cdb,[[1000245.0, 202806.0],[1000537.9999999995, 186726.9999999482],[1002334.9999999987, 250597.99999993874]])
    
    Returns:
    
    ['0101000020D7080000000000006A862E4100000000B0C10841',
     '0101000020D708000000000000B4882E410000000038CB0641']
    """
    
   
    
    try:
        
        if any(isinstance(item, list) for item in args[0]):  #args is a tuple 
            print('TRUE')
            count=0
            geom =[None]*len(args[0])
            for i in args[0]:
                db.query("select ST_GeomFROMText('POINT(' || {x}::text || ' ' ||  {y}::text || ')', 2263) geom ".format(x=i[0],y=i[1]))
                #print(g)
                geom[count]=db.data[0][0]
                count+=1

        else:
            #print(args[0])
            if isinstance(args[0], list):
                db.query("select ST_GeomFROMText('POINT(' || {x}::text || ' ' ||  {y}::text || ')', 2263) geom".format(x=args[0][0],y=args[0][1]))
                geom = db.data[0][0]

    except:
    
        xy = list(args)
        #print(lon_lat)
        db.query("select ST_GeomFROMText('POINT(' || {x}::text || ' ' ||  {y}::text || ')', 2263) geom".format(x=xy[0],y=xy[1]))
        geom = db.data[0][0]

    return geom

In [268]:
def lon_lat_to_geom(cdb,*args): #input either list of list [[lon,lat][lon,lat]] or list lon_lat=[lon,lat] or input lon=lon,lat=lat 
    
    """
    Function that generates the hexidecimal geomteric string 
    of every input coordinate. 
   
    Args:
        cdb param: Database Connection Function for PostgreSQL 
        
    *args
        lon_lat arg (float): Longitude,Latitude coordinates 
                             format: [[lon,lat][lon,lat]] or [lon,lat] or input lon=lon,lat=lat

    Returns:
        geom (str): Hexidecimal geomteric string 
        
    
    e.g.
    
    Input:
    
    lon_lat_to_geom(cdb,[[-73.99247600,40.71507200],[-73.99247600,40.71507200]])
    
    Returns:
    
    ['0101000020D7080000D5011E94BF192E41347ACDE4A4630841',
     '0101000020D7080000D5011E94BF192E41347ACDE4A4630841']
    """
    
    
  
   
    try:
        if any(isinstance(item, list) for item in args[0]): 
            #print('TRUE')
            count=0
            geom =[None]*len(args[0])
            for i in args[0]:
                #print(i)
                db.query("select st_transform(ST_PointFromText('POINT(' || {lon} || ' ' || {lat} || ')', 4326), 2263) geom ".format(lon=i[0],lat=i[1]))
                #print(g)
                geom[count]=db.data[0][0]
                count+=1

        else:
            #print(args[0])
            if isinstance(args[0], list):
                db.query("select st_transform(ST_PointFromText('POINT(' || {lon} || ' ' || {lat} || ')', 4326), 2263) geom ".format(lon=args[0][0],lat=args[0][1]))
                geom = db.data[0][0]

    except:
        lon_lat = list(args)
        db.query("select st_transform(ST_PointFromText('POINT(' || {lon} || ' ' || {lat} || ')', 4326), 2263) geom ".format(lon=lon_lat[0],lat=lon_lat[1]))
        geom = db.data[0][0]

    return geom

In [269]:
def to_itx(cdb,**args): 
    
    """
    Function that retrieves nearest intersection from the location
    of input control signal
   
    Args:
        cdb param: Database Connection Function for PostgreSQL
        
    *args:
        rad (int, optional): Search radius for locating nearest node from all way stop
        xy arg (optional if geom given): X,Y coordinates of all way stop
                                         format: [[x,y][x,y]] or xy=[x,y] or input x=x,y=y
        lon_lat arg (optional if geom given): Longitude,Latitude coordinates 
                                              format: [[lon,lat][lon,lat]] or [lon,lat] or input lon=lon, lat=lat
        geom arg (str, optional if xy or lon_lat given): Hexidecimal geomteric string X,Y coordinates of all way stop
        
    Returns:
        result (dataFrame): Nodeid, Distance between Nodeid and Control Signal, Nodeid Geometry, Control geometry, Coordinates
        val (int): 0 if no args given`    
        
    e.g.
    
    Input:
    
    to_itx(cdb,xy=[1000537.9999999995, 186726.9999999482],geom='0101000020D708000000000000B4882E410000000038CB0641')
    
    Returns:
    
    nodeid  distance    node_geom                   control_geom                xy
    26723   0.0340567   0101000020D7080000009...    0101000020D7080000000...    [1000538.0, 186727.0]
    """  
    
    db= cdb
    rad = args.get('rad', 50)  
    geom = args.get('geom', 0)
    xy = args.get('xy', 0)
    lon_lat= args.get('lon_lat', 0)
    coor = lambda x: map(float,x.replace('[','').replace(']','').split(','))  
    
         
    if len(args)==0:
            return 0
    
    if geom==0:
        if xy:
            geom = xy_to_geom(db,xy)
        else:
            geom = lon_lat_to_geom(db,lon_lat)

    
    if xy:
        
        query = """select nodeid,  masterid, st_distance(geom, '{geom}'::geometry) as distance,
                            geom as node_geom, '{geom}'::geometry as control_geom,
                            '{xy}' as xy,  ST_AsText(st_transform(geom::text,4326)) node_lon_lat,
                            ST_AsText(st_transform('{geom}'::text,4326)) control_lon_lat
               from node where st_dwithin('{geom}'::geometry,geom, {rad})
                        and is_int = true
               order by st_distance(geom, '{geom}'::geometry) ASC limit 1
               """.format(geom=geom, rad=rad, xy=xy)
        
        db.query(query)
        x=list(db.data[0:7])
        x.append(coor(r[4]))
        
        data=x
        #data = pd.DataFrame(x,index=['nodeid','distance','node_geom','control_geom','xy']).T
        
    elif lon_lat:

        query = """
                   select *, ST_AsText(st_transform(node_geom::text,4326)) node_lon_lat, ST_AsText(st_transform('{geom}'::text,4326)) control_lon_lat
                   from(
                   select nodeid,  masterid, st_distance(geom, '{geom}'::geometry) as distance,
                                geom as node_geom,
                                '{geom}'::geometry as sig_geom  
                   from node where st_dwithin('{geom}'::geometry,geom, {rad})
                            and is_int = true 
                   order by st_distance(geom, '{geom}'::geometry) ASC limit 1) x 
                   """.format(geom=geom, rad=rad, lon_lat=lon_lat)

        db.query(query)
        x=list(db.data[0:7])
        #x.append(coor(r[4]))

        data=x
        #data = pd.DataFrame(x,index=['nodeid','distance','node_geom','control_geom','lon_lat']).T     
            
    else:
        
        query = """select nodeid, masterid, st_distance(geom, '{geom}'::geometry) as distance,
                                geom as node_geom, '{geom}'::geometry as control_geom,
                                ST_AsText(st_transform(geom::text,4326)) node_lon_lat,
                                ST_AsText(st_transform('{geom}'::text,4326)) control_lon_lat
                   from node where st_dwithin('{geom}'::geometry,geom, {rad})
                            and is_int = true
                   order by st_distance(geom, '{geom}'::geometry) ASC limit 1
                   """.format(geom=geom, rad=rad)

        db.query(query)  
        r = list(db.data)
        data = pd.DataFrame(r,index=['nodeid','distance','node_geom','control_geom', 'node_lon_lat', 'control_lon_lat']).T
    


    return data

In [273]:
s2 = to_itx(db,rad=50,lon_lat=[float(-73.99247600),float(40.71507200)])

- Query run 2020-06-22 10:55:27.339000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *
- Query run 2020-06-22 10:55:27.397000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *

In [ ]:
-73.99247600 40.71507200

In [297]:
sig_data = pd.DataFrame()
failed_data = pd.DataFrame()

for i in result[:5]:
    try:
        s1 = [i[0],i[1]]
        s2 = to_itx(db,rad=50,lon_lat=[float(i[2]),float(i[3])]) 
        s1.extend(list(s2[0]))
        s1.append(i[4])
        print(s1)
        sig_data = sig_data.append(pd.DataFrame(s1,['control_type','control_id','nodeid','masterid','distance','node_geom',
                                                    'control_geom','node_lon_lat','control_lon_lat']).T, ignore_index = True)
    
        #print sig_data
    except:
        f = [i[0],i[1]]
        f1=lon_lat_to_geom(db,[float(i[2]),float(i[3])])
        f.extend([f1])
        failed_data=failed_data.append(pd.DataFrame(f,index = ['control_type','control_id','control_geom']).T,ignore_index=True)

sig_data['node_lon_lat'] = map(lambda x: map(float,x.strip('POINT()').split(' ')), sig_data['node_lon_lat'])
sig_data['control_lon_lat'] = map(lambda x: map(float,x.strip('POINT()').split(' ')), sig_data['control_lon_lat'])
sig_data = sig_data.reindex(columns=['nodeid', 'masterid','control_type', 'control_id', 'node_geom', 'node_lon_lat', 'control_geom', 'control_lon_lat', 'distance'])
    
print [sig_data, failed_data]

- Query run 2020-06-24 11:42:23.155000
 Query time: Query run in 46000 microseconds
 * Returned 1 rows *
- Query run 2020-06-24 11:42:23.242000
 Query time: Query run in 59000 microseconds
 * Returned 1 rows *
['SIG', 10001, Decimal('92892'), 92892, 5.06652842691356, '0101000020D708000000853B78B7192E41009A2A33BD630841', '0101000020D7080000D5011E94BF192E41347ACDE4A4630841', 'POINT(-73.9924906245908 40.7150803402618)', 'POINT(-73.992476 40.7150719999998)', '1970-05-22 00:00:00.0000000']
- Query run 2020-06-24 11:42:23.307000
 Query time: Query run in 45000 microseconds
 * Returned 1 rows *
- Query run 2020-06-24 11:42:23.369000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-24 11:42:23.428000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
['SIG', 10002, Decimal('20243'), 20245, 15.4097591900998, '0101000020D708000080BECDD3F5FD2D41002AB57F67AF0841', '0101000020D7080000F253F6F0E1FD2D416963385109AF0841', 'POINT(-74.0053071317689 40.7217263148741)', 'POINT(-74.005343 40.7216939999998)', '1977-07-26 00:00:00.0000000']
- Query run 2020-06-24 11:42:23.491000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-24 11:42:23.558000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-24 11:42:23.620000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
['SIG', 10003, Decimal('20216'), 20216, 27.9407985844573, '0101000020D708000000FB62772CFE2D410060082AE8A20841', '0101000020D708000083DE03842AFE2D41A4B226C608A20841', 'POINT(-74.0052084874061 40.7206286441759)', 'POINT(-74.005212 40.7205519999998)', '1977-07-13 00:00:00.0000000']
- Query run 2020-06-24 11:42:23.683000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-24 11:42:23.744000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-24 11:42:23.800000
 Query time: Query run in 32000 microseconds
 * Returned 1 rows *
['SIG', 10004, Decimal('20215'), 20215, 0.545152871607228, '0101000020D708000080B210CF38FE2D41003C8D28E6990841', '0101000020D7080000E5AD4DCA37FE2D412DEDC0B6E7990841', 'POINT(-74.0051861626444 40.7198374664067)', 'POINT(-74.005188 40.7198379999998)', '1965-01-01 00:00:00.0000000']
- Query run 2020-06-24 11:42:23.864000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-24 11:42:23.927000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-24 11:42:23.998000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *
['SIG', 10005, Decimal('20214'), 20214, 0.397663621545347, '0101000020D7080000003140673FFE2D41004A6CA16A900841', '0101000020D70800006FD2FF1140FE2D4100D7CFE568900841', 'POINT(-74.0051742031166 40.7190045944799)', 'POINT(-74.005173 40.7190039999998)', '1931-11-24 00:00:00.0000000']
- Query run 2020-06-24 11:42:24.056000
 Query time: Query run in 30000 microseconds
 * Returned 1 rows *

KeyError: 'node_lon_lat'

In [156]:
failed_data

    control_type control_id                                        contol_geom
0            SIG      10010  0101000020D708000032749E8FC0EC2D417A66556E00EC...
1            SIG      10035  0101000020D70800003E1A582A1AF02D41AF5A5E795710...
2            SIG      10042  0101000020D70800007F0C218AD9FF2D414CFE7E9CDF47...
3            SIG      10046  0101000020D7080000AA74562ACB062E41B601A46D4872...
4            SIG      10103  0101000020D70800003E9F3EA598022E4135019E43A55F...
5            SIG      10107  0101000020D708000017E7AB2F7B302E41B94928811651...
6            SIG      10138  0101000020D70800009625DAF2A7022E412F94756A30FF...
7            SIG      10160  0101000020D70800002D9E593B0AF32D415AD1101B41DD...
8            SIG      10161  0101000020D70800005FD23925EF002E41B3263B17500A...
9            SIG      10182  0101000020D70800009E2133F23BE72D410DE79F10FD06...
10           SIG      10330  0101000020D70800005F30706AA8292E4184D1194C6968...
11           SIG      10450  0101000020D708000048438EB939402E418C5CA75BFAD9...
12           SIG      10543  0101000020D7080000AAF5D7EAAFF52D41D3470BC89183...
13           SIG      10549  0101000020D7080000616B93D75AF42D41F6E77C37C863...
14           SIG      10564  0101000020D7080000D868D933E63B2E4167E1CBD8C078...
15           SIG      10568  0101000020D70800008EBC932D40402E417BE2B7749798...
16           SIG      10579  0101000020D708000035965DDEDD4B2E413242014FD8EB...
17           SIG      10642  0101000020D708000017DA0BE0352C2E41277C5A9CFD37...
18           SIG      10692  0101000020D70800002A42A900A03C2E41F58695D20751...
19           SIG      10707  0101000020D70800002DB12799FF482E41D37485FE2FB9...
20           SIG      10714  0101000020D708000092826EC864282E41FDCFBDA8FA62...
21           SIG      10910  0101000020D7080000C70B5A42E02F2E41E0651DB8A0B9...
22           SIG      10931  0101000020D7080000ADE8464F8A152E41484082C025FB...
23           SIG      11022  0101000020D708000073B3DB1E90232E41F0C6D164A7EF...
24           SIG      11033  0101000020D70800004A22F32238292E41AF780B8D3654...
25           SIG      11086  0101000020D7080000B3C895CA17372E41D4C525C96051...
26           SIG      11087  0101000020D708000096823B3718382E415AC059718758...
27           SIG      11177  0101000020D7080000E34F5A480EF82D4166A5824520E9...
28           SIG      11178  0101000020D7080000EF513AE336F82D4148D038913B03...
29           SIG      11182  0101000020D7080000B032F83870002E41F0A319440740...
..           ...        ...                                                ...
555          SIG      50231  0101000020D7080000B59EF41749992C41ED19AA29E94A...
556          SIG      50287  0101000020D7080000DEEB11F801502C418B8FE9AF1F54...
557          SIG      50367  0101000020D708000051FC1CC8091E2D410368247807B0...
558          SIG      50368  0101000020D7080000CF2036CAF2202D415252AC343AB4...
559          SIG      50371  0101000020D708000031403D292A682C41E8F6BA214536...
560          SIG      50389  0101000020D7080000F035B10404C62C41D723FABA0E52...
561          SIG      50409  0101000020D70800005B0A7FB05E3B2D410DC53650DCFE...
562          SIG      50430  0101000020D70800001D30BD74B4A02C41D669642182C0...
563          SIG      50435  0101000020D7080000467A166D00812C4141F6B109E12F...
564          SIG      50458  0101000020D70800008E84F16AFEE52C41F60AFB9D446E...
565          SIG      50475  0101000020D7080000C42813CC51CB2C41FF555D099315...
566          SIG      50505  0101000020D7080000928E9139FD292D419D4A1C47F668...
567          SIG      50517  0101000020D7080000328D123387932C4190C219F2DA7F...
568          SIG      50524  0101000020D70800001E9316C31C712D41FDC90B09DCAC...
569          SIG      50542  0101000020D7080000558FEFF930A82C4142D6485CD777...
570          SIG      50548  0101000020D70800000EE2906EA40C2C41466093D50438...
571          SIG      50549  0101000020D708000061E196B31D902C4145A2ED6E5B78...
572          SIG      50552  0101000020D7080000664595499CAC2C41EF39B2DFBED7...
573          SIG      50583  0101000020D7080000754667BFF7102C41282487C1B1DD...
574          SIG      50611  0101000020D70800002BC9EEFA24322C410B0814519697...
575          SIG      50614  0101000020D7080000887EEC1F82302D411104BE6C69C4...
576          SIG      50615  0101000020D7080000EC85BA7916762C419AA1BCAD17A2...
577          SIG      50624  0101000020D708000076D2DF4A35BF2C41D6D9B71AFCE0...
578          SIG      50627  0101000020D7080000EDD04028FEA92C419FCBFB4C1C85...
579          SIG      50630  0101000020D708000055E1531CE2092D413A6CBE93258F...
580          SIG      50631  0101000020D708000039504D54580C2D41BEBF439D8B90...
581          SIG      50659  0101000020D7080000A1242F5571682D41979493A97380...
582          SIG      50660  0101000020D70800004C33C6F36B6A2D41E10F9E6D3F8A...
583          SIG      50676  0101000020D70800003D8BC23D35FC2B415AA9CCD54E20...
584          SIG      50726  0101000020D7080000C8C948E4151E2D41DB6F742919EE...

[585 rows x 3 columns]

In [195]:
fd = failed_data.copy()
fd.values.tolist()

In [191]:
for i in (failed_data[['control_id','contol_geom']][:5]): print i

AttributeError: 'DataFrame' object has no attribute 'rows'

In [ ]:
 to_segment(db,**args)

In [160]:
failed_data.contol_geom[0]

'0101000020D708000032749E8FC0EC2D417A66556E00EC0741'

In [165]:
db.connect()

Database connection (PG) to ris on dotdevrhpgsql01 - user: soge
Connection established 2020-06-15 17:32:48

In [278]:
def to_segment(db,**args): 


    """
    Function that retrieves nearest segment from the location
    of input control signal
   
    Args:
        db param: Database Connection Function for PostgreSQL
        
    *args:
        rad (int, optional): Search radius for locating nearest node from all way stop
        xy arg (optional if geom given): X,Y coordinates of all way stop
                                         format: [[x,y][x,y]] or xy=[x,y] or input x=x,y=y
        lon_lat arg (optional if geom given): Longitude,Latitude coordinates 
                                              format: [[lon,lat][lon,lat]] or [lon,lat] or input lon=lon, lat=lat
        geom arg (str, optional if xy or lon_lat given): Hexidecimal geomteric string X,Y coordinates of all way stop
        
    Returns:
        result (dataFrame): Nodeid, Distance between Nodeid and Control Signal, Nodeid Geometry, Control geometry, Coordinates
        val (int): 0 if no args given`    
        
    e.g.
    
    Input:
    
    to_itx(db,xy=[1000537.9999999995, 186726.9999999482],geom='0101000020D708000000000000B4882E410000000038CB0641')
    
    Returns:
    
    segmentid  distance    segment_geom                   control_geom                xy
    26723      0.0340567   0101000020D7080000009...       0101000020D7080000000...    [1000538.0, 186727.0]
    """  
    
    rad = args.get('rad', 50)  
    geom = args.get('geom', 0)
    xy = args.get('xy', 0)
    lon_lat= args.get('lon_lat', 0)
    coor = lambda x: map(float,x.replace('[','').replace(']','').split(','))  
    
         
    if len(args)==0:
            return 0
    
    if geom==0:
        if xy:
            geom = xy_to_geom(db,xy)
        else:
            geom = lon_lat_to_geom(db,lon_lat)

    
    if xy:
        
        query = """select segmentid,  mft, st_distance(geom, '{geom}'::geometry) as distance,
                            geom as segment_geom, '{geom}'::geometry as control_geom,
                            '{xy}' as xy,  ST_AsText(st_transform(geom::text,4326)) segment_lon_lat,
                            ST_AsText(st_transform('{geom}'::text,4326)) control_lon_lat
               from lion where st_dwithin('{geom}'::geometry,geom, {rad})
                        and is_int = true
               order by st_distance(geom, '{geom}'::geometry) ASC limit 1
               """.format(geom=geom, rad=rad, xy=xy)
        
        db.query(query)
        r = list(db.data[0])
        x.append(coor(r[4]))
        
        data=x
        #data = pd.DataFrame(x,index=['segmentid','distance','segment_geom','control_geom','xy']).T
        
    elif lon_lat:

        query = """
                   select *, ST_AsText(st_transform(segment_geom::text,4326)) segment_lon_lat, ST_AsText(st_transform('{geom}'::text,4326)) control_lon_lat
                   from(
                   select segmentid,  mft, st_distance(geom, '{geom}'::geometry) as distance,
                                geom as segment_geom,
                                '{geom}'::geometry as sig_geom  
                   from lion where st_dwithin('{geom}'::geometry,geom, {rad})
                   order by st_distance(geom, '{geom}'::geometry) ASC limit 1) x 
                   """.format(geom=geom, rad=rad, lon_lat=lon_lat)

        db.query(query)
        r = list(db.data[0])
        x.append(coor(r[4]))

        data=x
        #data = pd.DataFrame(x,index=['segmentid','distance','segment_geom','control_geom','lon_lat']).T     
            
    else:
        
        query = """select segmentid, mft, st_distance(geom, '{geom}'::geometry) as distance,
                                geom as node_geom, '{geom}'::geometry as control_geom,
                                ST_AsText(st_transform(geom::text,4326)) semgent_lon_lat,
                                ST_AsText(st_transform('{geom}'::text,4326)) control_lon_lat
                   from node where st_dwithin('{geom}'::geometry,geom, {rad})
                            and is_int = true
                   order by st_distance(geom, '{geom}'::geometry) ASC limit 1
                   """.format(geom=geom, rad=rad)
            
        db.query(query)
        r = list(db.data[0])
        data = pd.DataFrame(r,index=['segmentid','distance','segment_geom','control_geom', 'segment_lon_lat', 'control_lon_lat']).T
    


    return data

In [279]:
def to_segment(db,**args): 


    """
    Function that retrieves nearest segment from the location
    of input control signal
   
    Args:
        db param: Database Connection Function for PostgreSQL
        
    *args:
        rad (int, optional): Search radius for locating nearest node from all way stop
        xy arg (optional if geom given): X,Y coordinates of all way stop
                                         format: [[x,y][x,y]] or xy=[x,y] or input x=x,y=y
        lon_lat arg (optional if geom given): Longitude,Latitude coordinates 
                                              format: [[lon,lat][lon,lat]] or [lon,lat] or input lon=lon, lat=lat
        geom arg (str, optional if xy or lon_lat given): Hexidecimal geomteric string X,Y coordinates of all way stop
        
    Returns:
        result (dataFrame): Nodeid, Distance between Nodeid and Control Signal, Nodeid Geometry, Control geometry, Coordinates
        val (int): 0 if no args given`    
        
    e.g.
    
    Input:
    
    to_itx(db,xy=[1000537.9999999995, 186726.9999999482],geom='0101000020D708000000000000B4882E410000000038CB0641')
    
    Returns:
    
    segmentid  distance    segment_geom                   control_geom                xy
    26723      0.0340567   0101000020D7080000009...       0101000020D7080000000...    [1000538.0, 186727.0]
    """  
    
    rad = args.get('rad', 50)  
    geom = args.get('geom', 0)
    xy = args.get('xy', 0)
    lon_lat= args.get('lon_lat', 0)
    coor = lambda x: map(float,x.replace('[','').replace(']','').split(','))  
    
         
    if len(args)==0:
            return 0
    
    else:
        
        query = """select segmentid, mft, st_distance(geom, '{geom}'::geometry) as distance,
                    geom as segment_geom, '{geom}'::geometry as control_geom,
                    ST_AsText(st_transform(geom::text,4326)) semgent_lon_lat,
                    ST_AsText(st_transform('{geom}'::text,4326)) control_lon_lat
                   from lion where st_dwithin('{geom}'::geometry,geom, 50)               
                   order by st_distance(geom, '{geom}'::geometry) ASC limit 1
                   """.format(geom=geom, rad=rad)
            
        db.query(query)
        r = list(db.data[0])
        #data = pd.DataFrame(r,index=['segmentid','mft','distance','segment_geom','control_geom', 'segment_lon_lat', 'control_lon_lat']).T
    


    return r

In [207]:
fd = failed_data.copy()
fd = fd.values.tolist()

In [211]:
fd[:5]

[['SIG', 10010, '0101000020D708000032749E8FC0EC2D417A66556E00EC0741'],
 ['SIG', 10035, '0101000020D70800003E1A582A1AF02D41AF5A5E7957100841'],
 ['SIG', 10042, '0101000020D70800007F0C218AD9FF2D414CFE7E9CDF470841'],
 ['SIG', 10046, '0101000020D7080000AA74562ACB062E41B601A46D48720841'],
 ['SIG', 10103, '0101000020D70800003E9F3EA598022E4135019E43A55F0841']]

In [214]:
db.connect()

Database connection (PG) to ris on dotdevrhpgsql01 - user: soge
Connection established 2020-06-16 11:48:21

In [243]:
fd_segs = pd.DataFrame()

for i in fd:
    
    try:
        s1 = [i[0],i[1]]
        s2 = to_segment(db,rad=50,geom=i[2])
        s1.extend(list(s2))
        

        fd_segs = fd_segs.append(pd.DataFrame(s1,['control_type','control_id','segmentid','mft','distance','segment_geom','control_geom', 'segment_lon_lat', 'control_lon_lat']).T, ignore_index = True)
    
    except:
        print(i)

- Query run 2020-06-16 14:13:06.260000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:06.319000
 Query time: Query run in 32000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:06.386000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:06.453000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:06.525000
 Query time: Query run in 46000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:06.585000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:06.653000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:06.713000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:06.784000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:06.841000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:06.904000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:06.963000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:07.023000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:07.087000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:07.144000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:07.213000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:07.289000
 Query time: Query run in 49000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:07.354000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:07.421000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:07.478000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:07.529000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:07.587000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:07.644000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:07.715000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:07.782000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:07.845000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:07.910000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:07.974000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:08.035000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:08.094000
 Query time: Query run in 35000 microseconds
 * Returned 0 rows *
['SIG', 11182, '0101000020D7080000B032F83870002E41F0A3194407400A41']
- Query run 2020-06-16 14:13:08.162000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:08.239000
 Query time: Query run in 50000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:08.297000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:08.363000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:08.479000
 Query time: Query run in 86000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:08.538000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:08.628000
 Query time: Query run in 60000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:08.693000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:08.783000
 Query time: Query run in 63000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:08.850000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:08.910000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:08.975000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:09.043000
 Query time: Query run in 45000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:09.104000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:09.175000
 Query time: Query run in 45000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:09.234000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:09.288000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:09.353000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:09.418000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:09.476000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:09.539000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:09.604000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:09.674000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:09.734000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:09.813000
 Query time: Query run in 54000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:09.869000
 Query time: Query run in 32000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:09.929000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:09.999000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:10.058000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:10.126000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:10.189000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:10.253000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:10.325000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:10.415000
 Query time: Query run in 76000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:10.484000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:10.558000
 Query time: Query run in 49000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:10.621000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:10.685000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:10.747000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:10.806000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:10.871000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:10.933000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:10.997000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:11.056000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:11.122000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:11.184000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:11.252000
 Query time: Query run in 41000 microseconds

 * Returned 1 rows *
- Query run 2020-06-16 14:13:11.312000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:11.381000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:11.450000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:11.513000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:11.575000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:11.641000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:11.705000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:11.771000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:11.833000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:11.900000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:11.967000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:12.028000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:12.114000
 Query time: Query run in 58000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:12.175000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:12.232000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:12.292000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:12.354000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:12.421000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:12.483000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:12.549000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:12.627000
 Query time: Query run in 52000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:12.688000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:12.751000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:12.815000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:12.882000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:12.950000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:13.015000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:13.083000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:13.145000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:13.223000
 Query time: Query run in 52000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:13.287000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:13.345000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:13.405000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:13.468000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:13.528000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:13.587000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:13.651000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:13.714000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:13.779000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:13.856000
 Query time: Query run in 51000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:13.917000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:13.976000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:14.039000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:14.102000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:14.165000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:14.228000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:14.294000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:14.366000
 Query time: Query run in 46000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:14.434000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:14.515000
 Query time: Query run in 55000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:14.578000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:14.649000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:14.732000
 Query time: Query run in 56000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:14.802000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:14.859000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:14.935000
 Query time: Query run in 51000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:15.007000
 Query time: Query run in 45000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:15.079000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:15.145000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:15.216000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:15.299000
 Query time: Query run in 56000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:15.366000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:15.438000
 Query time: Query run in 45000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:15.505000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:15.577000
 Query time: Query run in 47000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:15.649000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:15.714000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:15.783000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:15.844000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:15.917000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:15.982000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:16.057000
 Query time: Query run in 48000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:16.122000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:16.190000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:16.254000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:16.327000
 Query time: Query run in 48000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:16.393000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:16.455000
 Query time: Query run in 36000 microseconds

 * Returned 1 rows *
- Query run 2020-06-16 14:13:16.516000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:16.583000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:16.645000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:16.705000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:16.767000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:16.831000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:16.891000
 Query time: Query run in 34000 microseconds
 * Returned 0 rows *
['SIG', 12916, '0101000020D70800005019293A3F1F2E41F65CFAB4059A0941']
- Query run 2020-06-16 14:13:16.957000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:17.016000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:17.076000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:17.125000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:17.173000
 Query time: Query run in 32000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:17.224000
 Query time: Query run in 33000 microseconds
 * Returned 0 rows *
['SIG', 12951, '0101000020D7080000F9CE96A336FB2D41BF20B84932FC0741']
- Query run 2020-06-16 14:13:17.309000
 Query time: Query run in 58000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:17.368000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:17.434000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:17.493000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:17.562000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:17.620000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:17.686000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:17.753000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:17.821000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:17.884000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:17.949000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:18.015000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:18.076000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:18.139000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:18.203000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:18.274000
 Query time: Query run in 45000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:18.333000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:18.407000
 Query time: Query run in 47000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:18.467000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:18.534000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:18.594000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:18.667000
 Query time: Query run in 45000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:18.735000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:18.804000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:18.891000
 Query time: Query run in 61000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:18.958000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:19.019000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:19.086000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:19.155000
 Query time: Query run in 46000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:19.216000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:19.274000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:19.342000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:19.402000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:19.469000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:19.529000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:19.598000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:19.648000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:19.709000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:19.781000
 Query time: Query run in 45000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:19.847000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:19.916000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:19.986000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:20.049000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:20.120000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:20.187000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:20.255000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:20.320000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:20.395000
 Query time: Query run in 45000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:20.478000
 Query time: Query run in 57000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:20.543000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:20.607000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:20.669000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:20.740000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:20.812000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:20.881000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:20.952000
 Query time: Query run in 45000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:21.016000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:21.087000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:21.153000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:21.217000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:21.306000
 Query time: Query run in 65000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:21.374000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:21.446000
 Query time: Query run in 45000 microseconds

 * Returned 1 rows *
- Query run 2020-06-16 14:13:21.514000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:21.585000
 Query time: Query run in 46000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:21.658000
 Query time: Query run in 46000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:21.739000
 Query time: Query run in 56000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:21.802000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:21.862000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:21.936000
 Query time: Query run in 49000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:22.006000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:22.069000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:22.139000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:22.212000
 Query time: Query run in 45000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:22.285000
 Query time: Query run in 45000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:22.356000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:22.423000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:22.489000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:22.550000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:22.619000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:22.689000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:22.777000
 Query time: Query run in 60000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:22.841000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:22.904000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:22.971000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:23.032000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:23.090000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:23.166000
 Query time: Query run in 46000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:23.216000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:23.273000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:23.341000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:23.408000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:23.470000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:23.535000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:23.601000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:23.669000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:23.732000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:23.800000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:23.871000
 Query time: Query run in 47000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:23.929000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:24.006000
 Query time: Query run in 46000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:24.065000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:24.124000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:24.195000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:24.263000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:24.328000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:24.383000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:24.447000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:24.511000
 Query time: Query run in 38000 microseconds
 * Returned 0 rows *
['SIG', 21829, '0101000020D708000031416E0A569D2E414C9FF753083E0D41']
- Query run 2020-06-16 14:13:24.580000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:24.646000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:24.713000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:24.775000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:24.833000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:24.894000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:24.951000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:25.010000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:25.071000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:25.130000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:25.191000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:25.255000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:25.332000
 Query time: Query run in 50000 microseconds
 * Returned 0 rows *
['SIG', 21911, '0101000020D70800001978EFBF8A462F41217D214766900E41']
- Query run 2020-06-16 14:13:25.395000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:25.461000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:25.520000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:25.582000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:25.641000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:25.706000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:25.767000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:25.827000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:25.894000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:25.956000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:26.016000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:26.076000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:26.143000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:26.203000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:26.268000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:26.329000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:26.389000
 Query time: Query run in 35000 microseconds

 * Returned 1 rows *
- Query run 2020-06-16 14:13:26.454000
 Query time: Query run in 38000 microseconds
 * Returned 0 rows *
['SIG', 21981, '0101000020D70800001480AD27BF472F4196C8A13A02840E41']
- Query run 2020-06-16 14:13:26.517000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:26.595000
 Query time: Query run in 52000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:26.657000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:26.727000
 Query time: Query run in 45000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:26.795000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:26.863000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:26.927000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:26.988000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:27.052000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:27.113000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:27.176000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:27.246000
 Query time: Query run in 45000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:27.306000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:27.392000
 Query time: Query run in 61000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:27.454000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:27.517000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:27.577000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:27.636000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:27.703000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:27.762000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:27.823000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:27.890000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:27.942000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:28.003000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:28.071000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:28.131000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:28.191000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:28.261000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:28.321000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:28.377000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:28.439000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:28.497000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:28.557000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:28.618000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:28.684000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:28.746000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:28.810000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:28.873000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:28.937000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:28.996000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:29.055000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:29.111000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:29.171000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:29.234000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:29.297000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:29.355000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:29.421000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:29.479000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:29.546000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:29.611000
 Query time: Query run in 50000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:29.671000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:29.731000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:29.794000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:29.866000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:29.936000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:29.996000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:30.061000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:30.144000
 Query time: Query run in 55000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:30.203000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:30.265000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:30.330000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:30.393000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:30.449000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:30.508000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:30.566000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:30.626000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:30.685000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:30.751000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:30.811000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:30.876000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:30.937000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:30.997000
 Query time: Query run in 35000 microseconds
 * Returned 0 rows *
['SIG', 34413, '0101000020D7080000951E4B22CCA72E4158DFCC3D02F10541']
- Query run 2020-06-16 14:13:31.059000
 Query time: Query run in 34000 microseconds
 * Returned 0 rows *
['SIG', 34420, '0101000020D7080000DAEAD6EF91262E411509E7B16C450341']
- Query run 2020-06-16 14:13:31.128000
 Query time: Query run in 38000 microseconds
 * Returned 0 rows *
['SIG', 34421, '0101000020D7080000A64D458E0A992E41EA2D37159F1F0541']
- Query run 2020-06-16 14:13:31.190000
 Query time: Query run in 34000 microseconds
 * Returned 0 rows *
['SIG', 34425, '0101000020D7080000789CF900BF112E41A161F557FC310541']
- Query run 2020-06-16 14:13:31.249000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:31.306000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:31.365000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:31.426000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:31.493000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:31.552000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:31.615000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:31.681000
 Query time: Query run in 39000 microseconds
 * Returned 0 rows *
['SIG', 34451, '0101000020D7080000266976D267C42E41082ADFC53B9D0741']
- Query run 2020-06-16 14:13:31.753000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:31.827000
 Query time: Query run in 45000 microseconds
 * Returned 0 rows *
['SIG', 34519, '0101000020D70800000C1A8C88DD1A2E411CA635B35F910241']
- Query run 2020-06-16 14:13:31.894000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:31.946000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:32.015000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:32.082000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:32.132000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:32.193000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:32.261000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:32.318000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:32.378000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:32.449000
 Query time: Query run in 47000 microseconds
 * Returned 0 rows *
['SIG', 34731, '0101000020D7080000BFDCCC56269E2E411DD2BC7F536B0541']
- Query run 2020-06-16 14:13:32.521000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:32.589000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:32.653000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:32.714000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:32.783000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:32.840000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:32.899000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:32.959000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:33.021000
 Query time: Query run in 37000 microseconds
 * Returned 0 rows *
['SIG', 34835, '0101000020D708000063D43AD9E6C62E4162B5DCD4CE1C0641']
- Query run 2020-06-16 14:13:33.089000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:33.151000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:33.210000
 Query time: Query run in 34000 microseconds
 * Returned 0 rows *
['SIG', 34891, '0101000020D70800005E187B833BC22E41FA6795A7A2D30741']
- Query run 2020-06-16 14:13:33.271000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:33.338000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:33.402000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:33.481000
 Query time: Query run in 52000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:33.543000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:33.613000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:33.671000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:33.741000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:33.810000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:33.872000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:33.934000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:34.002000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:34.061000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:34.131000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:34.192000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:34.252000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:34.315000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:34.381000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:34.444000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:34.493000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:34.565000
 Query time: Query run in 47000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:34.627000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:34.686000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:34.752000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:34.812000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:34.873000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:34.940000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:35.006000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:35.072000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:35.142000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:35.203000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:35.264000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:35.329000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:35.393000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:35.463000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:35.530000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:35.591000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:35.649000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:35.714000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:35.780000
 Query time: Query run in 41000 microseconds

 * Returned 1 rows *
- Query run 2020-06-16 14:13:35.847000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:35.914000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:35.972000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:36.032000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:36.099000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:36.167000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:36.237000
 Query time: Query run in 45000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:36.299000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:36.365000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:36.427000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:36.489000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:36.548000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:36.612000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:36.671000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:36.735000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:36.794000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:36.851000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:36.910000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:36.969000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:37.026000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:37.085000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:37.158000
 Query time: Query run in 47000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:37.215000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:37.275000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:37.334000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:37.396000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:37.456000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:37.519000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:37.578000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:37.636000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:37.706000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:37.757000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:37.821000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:37.885000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:37.948000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:38.006000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:38.070000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:38.139000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:38.209000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:38.273000
 Query time: Query run in 45000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:38.331000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:38.391000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:38.460000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:38.535000
 Query time: Query run in 48000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:38.609000
 Query time: Query run in 47000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:38.673000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:38.735000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:38.797000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:38.851000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:38.919000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:38.990000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:39.052000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:39.117000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:39.184000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:39.250000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:39.314000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:39.375000
 Query time: Query run in 33000 microseconds
 * Returned 0 rows *
['SIG', 43182, '0101000020D7080000A57FEA1DD6273041D447B9CD9CDC0A41']
- Query run 2020-06-16 14:13:39.437000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:39.502000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:39.586000
 Query time: Query run in 53000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:39.669000
 Query time: Query run in 57000 microseconds
 * Returned 0 rows *
['SIG', 43227, '0101000020D7080000FF1BDAAFB8352F4129D7FDDE6F070841']
- Query run 2020-06-16 14:13:39.746000
 Query time: Query run in 46000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:39.825000
 Query time: Query run in 50000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:39.886000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:39.956000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:40.016000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:40.085000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:40.144000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:40.211000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:40.270000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:40.328000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:40.388000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:40.452000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:40.521000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:40.585000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:40.651000
 Query time: Query run in 41000 microseconds

 * Returned 1 rows *
- Query run 2020-06-16 14:13:40.721000
 Query time: Query run in 46000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:40.785000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:40.851000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:40.912000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:40.961000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:41.019000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:41.086000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:41.145000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:41.219000
 Query time: Query run in 46000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:41.270000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:41.341000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:41.397000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:41.463000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:41.531000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:41.589000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:41.654000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:41.719000
 Query time: Query run in 40000 microseconds
 * Returned 0 rows *
['SIG', 43683, '0101000020D7080000D105526B69872F41C09503B08B420A41']
- Query run 2020-06-16 14:13:41.778000
 Query time: Query run in 33000 microseconds
 * Returned 0 rows *
['SIG', 43689, '0101000020D70800005599F19E23182F41008968993BFAF940']
- Query run 2020-06-16 14:13:41.849000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:41.908000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:41.970000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:42.029000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:42.090000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:42.149000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:42.207000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:42.267000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:42.333000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:42.394000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:42.458000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:42.517000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:42.582000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:42.645000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:42.713000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:42.779000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:42.844000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:42.902000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:42.960000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:43.027000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:43.090000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:43.139000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:43.192000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:43.256000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:43.317000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:43.381000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:43.446000
 Query time: Query run in 41000 microseconds
 * Returned 0 rows *
['SIG', 50614, '0101000020D7080000887EEC1F82302D411104BE6C69C40341']
- Query run 2020-06-16 14:13:43.511000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:43.597000
 Query time: Query run in 58000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:43.662000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:43.719000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:43.784000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:43.845000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:43.911000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:43.975000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 14:13:44.046000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *

In [246]:
nn = failed_data.copy()
nn = nn.values.tolist()

sig_wsegs = pd.DataFrame()
failed= []

for i in nn:
    try:
        s3 = [i[0],i[1]]
        s4 = to_segment(db,rad=50,geom=i[2])
        s3.extend(list(s2))

        sig_wsegs = sig_wsegs.append(pd.DataFrame(s3,['control_type','control_id','segmentid','mft','distance','segment_geom','control_geom', 'segment_lon_lat', 'control_lon_lat']).T, ignore_index = True)

    except:
        failed_data.append(i)

- Query run 2020-06-16 17:07:15.179000
 Query time: Query run in 45000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:15.231000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:15.298000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:15.359000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:15.417000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:15.475000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:15.539000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:15.602000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:15.663000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:15.727000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:15.790000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:15.850000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:15.910000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:15.978000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:16.035000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:16.094000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:16.155000
 Query time: Query run in 45000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:16.217000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:16.280000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:16.339000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:16.409000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:16.475000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:16.532000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:16.593000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:16.661000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:16.735000
 Query time: Query run in 46000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:16.797000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:16.867000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:16.925000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:16.989000
 Query time: Query run in 38000 microseconds
 * Returned 0 rows *
- Query run 2020-06-16 17:07:17.059000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:17.121000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:17.180000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:17.237000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:17.296000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:17.361000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:17.422000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:17.486000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:17.545000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:17.607000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:17.672000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:17.742000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:17.802000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:17.861000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:17.926000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:18.007000
 Query time: Query run in 56000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:18.064000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:18.137000
 Query time: Query run in 47000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:18.200000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:18.269000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:18.334000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:18.400000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:18.463000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:18.527000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:18.591000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:18.653000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:18.718000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:18.786000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:18.841000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:18.909000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:18.977000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:19.044000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:19.108000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:19.163000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:19.229000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:19.295000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:19.356000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:19.410000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:19.475000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:19.543000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:19.616000
 Query time: Query run in 47000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:19.678000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:19.736000
 Query time: Query run in 32000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:19.792000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:19.855000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:19.925000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:19.995000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:20.066000
 Query time: Query run in 43000 microseconds

 * Returned 1 rows *
- Query run 2020-06-16 17:07:20.130000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:20.192000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:20.260000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:20.322000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:20.381000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:20.446000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:20.517000
 Query time: Query run in 45000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:20.577000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:20.638000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:20.697000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:20.756000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:20.826000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:20.883000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:20.951000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:21.012000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:21.083000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:21.141000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:21.199000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:21.264000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:21.332000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:21.409000
 Query time: Query run in 51000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:21.479000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:21.549000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:21.619000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:21.687000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:21.748000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:21.817000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:21.881000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:21.944000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:22.011000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:22.067000
 Query time: Query run in 32000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:22.135000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:22.203000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:22.261000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:22.324000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:22.392000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:22.451000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:22.515000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:22.573000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:22.631000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:22.700000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:22.758000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:22.821000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:22.880000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:22.941000
 Query time: Query run in 32000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:23.001000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:23.063000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:23.123000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:23.181000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:23.243000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:23.309000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:23.371000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:23.436000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:23.508000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:23.579000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:23.642000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:23.711000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:23.772000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:23.841000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:23.900000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:23.967000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:24.032000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:24.105000
 Query time: Query run in 45000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:24.170000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:24.230000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:24.300000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:24.360000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:24.422000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:24.485000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:24.547000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:24.612000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:24.671000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:24.739000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:24.807000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:24.867000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:24.929000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:24.986000
 Query time: Query run in 32000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:25.050000
 Query time: Query run in 40000 microseconds

 * Returned 1 rows *
- Query run 2020-06-16 17:07:25.110000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:25.174000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:25.247000
 Query time: Query run in 45000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:25.297000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:25.357000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:25.421000
 Query time: Query run in 39000 microseconds
 * Returned 0 rows *
- Query run 2020-06-16 17:07:25.490000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:25.547000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:25.602000
 Query time: Query run in 32000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:25.660000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:25.717000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:25.773000
 Query time: Query run in 33000 microseconds
 * Returned 0 rows *
- Query run 2020-06-16 17:07:25.832000
 Query time: Query run in 32000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:25.894000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:25.954000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:26.011000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:26.067000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:26.125000
 Query time: Query run in 32000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:26.191000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:26.255000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:26.319000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:26.380000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:26.442000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:26.503000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:26.571000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:26.631000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:26.692000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:26.755000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:26.824000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:26.896000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:26.955000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:27.014000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:27.087000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:27.152000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:27.210000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:27.271000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:27.339000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:27.390000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:27.452000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:27.519000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:27.577000
 Query time: Query run in 32000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:27.642000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:27.705000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:27.762000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:27.826000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:27.886000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:27.953000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:28.022000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:28.080000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:28.144000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:28.205000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:28.270000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:28.330000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:28.393000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:28.455000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:28.519000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:28.583000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:28.651000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:28.720000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:28.780000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:28.846000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:28.908000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:28.977000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:29.040000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:29.109000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:29.175000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:29.243000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:29.316000
 Query time: Query run in 45000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:29.382000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:29.443000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:29.507000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:29.568000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:29.631000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:29.687000
 Query time: Query run in 32000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:29.747000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:29.807000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:29.865000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:29.923000
 Query time: Query run in 35000 microseconds

 * Returned 1 rows *
- Query run 2020-06-16 17:07:29.980000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:30.038000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:30.096000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:30.158000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:30.222000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:30.280000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:30.339000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:30.397000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:30.462000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:30.525000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:30.585000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:30.652000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:30.721000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:30.788000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:30.854000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:30.912000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:30.968000
 Query time: Query run in 32000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:31.025000
 Query time: Query run in 31000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:31.082000
 Query time: Query run in 32000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:31.139000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:31.196000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:31.255000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:31.315000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:31.373000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:31.432000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:31.498000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:31.555000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:31.622000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:31.680000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:31.747000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:31.805000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:31.861000
 Query time: Query run in 32000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:31.931000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:31.988000
 Query time: Query run in 32000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:32.055000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:32.113000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:32.169000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:32.227000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:32.284000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:32.346000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:32.404000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:32.472000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:32.534000
 Query time: Query run in 35000 microseconds
 * Returned 0 rows *
- Query run 2020-06-16 17:07:32.597000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:32.662000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:32.727000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:32.795000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:32.860000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:32.929000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:32.993000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:33.059000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:33.127000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:33.190000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:33.254000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:33.324000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:33.389000
 Query time: Query run in 39000 microseconds
 * Returned 0 rows *
- Query run 2020-06-16 17:07:33.452000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:33.520000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:33.577000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:33.639000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:33.711000
 Query time: Query run in 47000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:33.771000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:33.840000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:33.901000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:33.968000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:34.033000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:34.095000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:34.163000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:34.230000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:34.291000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:34.361000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:34.421000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:34.473000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:34.535000
 Query time: Query run in 35000 microseconds
 * Returned 0 rows *
- Query run 2020-06-16 17:07:34.598000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:34.661000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:34.719000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:34.777000
 Query time: Query run in 32000 microseconds

 * Returned 1 rows *
- Query run 2020-06-16 17:07:34.842000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:34.904000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:34.971000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:35.033000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:35.085000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:35.156000
 Query time: Query run in 45000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:35.215000
 Query time: Query run in 32000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:35.282000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:35.345000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:35.405000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:35.473000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:35.540000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:35.604000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:35.671000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:35.730000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:35.792000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:35.850000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:35.913000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:35.971000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:36.018000
 Query time: Query run in 32000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:36.084000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:36.143000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:36.202000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:36.262000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:36.322000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:36.379000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:36.437000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:36.495000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:36.555000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:36.614000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:36.670000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:36.729000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:36.790000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:36.851000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:36.910000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:36.967000
 Query time: Query run in 32000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:37.046000
 Query time: Query run in 51000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:37.106000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:37.155000
 Query time: Query run in 32000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:37.211000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:37.273000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:37.334000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:37.402000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:37.463000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:37.526000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:37.602000
 Query time: Query run in 50000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:37.667000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:37.725000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:37.782000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:37.848000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:37.908000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:37.963000
 Query time: Query run in 31000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:38.021000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:38.084000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:38.142000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:38.406000
 Query time: Query run in 237000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:38.472000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:38.536000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:38.604000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:38.672000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:38.739000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:38.803000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:38.869000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:38.935000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:38.997000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:39.067000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:39.130000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:39.192000
 Query time: Query run in 37000 microseconds
 * Returned 0 rows *
- Query run 2020-06-16 17:07:39.255000
 Query time: Query run in 35000 microseconds
 * Returned 0 rows *
- Query run 2020-06-16 17:07:39.323000
 Query time: Query run in 40000 microseconds
 * Returned 0 rows *
- Query run 2020-06-16 17:07:39.391000
 Query time: Query run in 38000 microseconds
 * Returned 0 rows *
- Query run 2020-06-16 17:07:39.465000
 Query time: Query run in 46000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:39.528000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:39.598000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:39.661000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:39.729000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:39.795000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:39.859000
 Query time: Query run in 37000 microseconds

 * Returned 1 rows *
- Query run 2020-06-16 17:07:39.928000
 Query time: Query run in 41000 microseconds
 * Returned 0 rows *
- Query run 2020-06-16 17:07:39.997000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:40.069000
 Query time: Query run in 41000 microseconds
 * Returned 0 rows *
- Query run 2020-06-16 17:07:40.138000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:40.208000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:40.270000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:40.339000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:40.408000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:40.474000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:40.537000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:40.601000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:40.670000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:40.735000
 Query time: Query run in 41000 microseconds
 * Returned 0 rows *
- Query run 2020-06-16 17:07:40.806000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:40.864000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:40.924000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:40.983000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:41.040000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:41.098000
 Query time: Query run in 32000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:41.158000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:41.215000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:41.279000
 Query time: Query run in 38000 microseconds
 * Returned 0 rows *
- Query run 2020-06-16 17:07:41.338000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:41.395000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:41.451000
 Query time: Query run in 32000 microseconds
 * Returned 0 rows *
- Query run 2020-06-16 17:07:41.510000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:41.567000
 Query time: Query run in 32000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:41.624000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:41.681000
 Query time: Query run in 32000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:41.740000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:41.796000
 Query time: Query run in 32000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:41.852000
 Query time: Query run in 32000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:41.910000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:41.977000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:42.038000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:42.096000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:42.162000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:42.230000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:42.297000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:42.371000
 Query time: Query run in 48000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:42.431000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:42.498000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:42.567000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:42.636000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:42.701000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:42.769000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:42.831000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:42.898000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:42.963000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:43.023000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:43.085000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:43.144000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:43.216000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:43.297000
 Query time: Query run in 53000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:43.366000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:43.425000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:43.498000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:43.550000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:43.619000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:43.684000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:43.748000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:43.805000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:43.851000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:43.908000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:43.971000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:44.034000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:44.105000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:44.164000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:44.228000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:44.290000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:44.349000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:44.407000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:44.472000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:44.542000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:44.604000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:44.671000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:44.740000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:44.801000
 Query time: Query run in 35000 microseconds

 * Returned 1 rows *
- Query run 2020-06-16 17:07:44.860000
 Query time: Query run in 32000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:44.933000
 Query time: Query run in 49000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:44.996000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:45.055000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:45.118000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:45.186000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:45.243000
 Query time: Query run in 32000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:45.305000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:45.371000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:45.429000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:45.489000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:45.559000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:45.621000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:45.686000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:45.754000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:45.826000
 Query time: Query run in 46000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:45.894000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:45.959000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:46.027000
 Query time: Query run in 45000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:46.097000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:46.156000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:46.219000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:46.278000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:46.347000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:46.403000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:46.470000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:46.528000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:46.588000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:46.646000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:46.708000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:46.771000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:46.835000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:46.903000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:46.967000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:47.029000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:47.093000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:47.149000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:47.207000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:47.267000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:47.324000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:47.373000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:47.432000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:47.493000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:47.555000
 Query time: Query run in 36000 microseconds
 * Returned 0 rows *
- Query run 2020-06-16 17:07:47.620000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:47.678000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:47.740000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:47.802000
 Query time: Query run in 38000 microseconds
 * Returned 0 rows *
- Query run 2020-06-16 17:07:47.867000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:47.929000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:47.994000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:48.055000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:48.126000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:48.191000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:48.253000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:48.321000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:48.390000
 Query time: Query run in 43000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:48.447000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:48.507000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:48.565000
 Query time: Query run in 32000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:48.632000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:48.696000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:48.763000
 Query time: Query run in 41000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:48.824000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:48.879000
 Query time: Query run in 31000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:48.940000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:49.002000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:49.061000
 Query time: Query run in 31000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:49.123000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:49.178000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:49.243000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:49.300000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:49.359000
 Query time: Query run in 32000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:49.420000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:49.479000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:49.543000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:49.604000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:49.664000
 Query time: Query run in 34000 microseconds

 * Returned 1 rows *
- Query run 2020-06-16 17:07:49.720000
 Query time: Query run in 31000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:49.779000
 Query time: Query run in 32000 microseconds
 * Returned 0 rows *
- Query run 2020-06-16 17:07:49.841000
 Query time: Query run in 36000 microseconds
 * Returned 0 rows *
- Query run 2020-06-16 17:07:49.902000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:49.964000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:50.017000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:50.078000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:50.139000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:50.199000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:50.254000
 Query time: Query run in 32000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:50.313000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:50.369000
 Query time: Query run in 32000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:50.426000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:50.483000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:50.535000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:50.597000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:50.655000
 Query time: Query run in 33000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:50.719000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:50.789000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:50.853000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:50.916000
 Query time: Query run in 35000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:50.983000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:51.057000
 Query time: Query run in 45000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:51.120000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:51.191000
 Query time: Query run in 44000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:51.264000
 Query time: Query run in 46000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:51.332000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:51.392000
 Query time: Query run in 34000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:51.466000
 Query time: Query run in 48000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:51.529000
 Query time: Query run in 38000 microseconds
 * Returned 0 rows *
- Query run 2020-06-16 17:07:51.599000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:51.662000
 Query time: Query run in 37000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:51.729000
 Query time: Query run in 42000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:51.790000
 Query time: Query run in 36000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:51.854000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:51.919000
 Query time: Query run in 40000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:51.983000
 Query time: Query run in 38000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:52.050000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *
- Query run 2020-06-16 17:07:52.113000
 Query time: Query run in 39000 microseconds
 * Returned 1 rows *

In [256]:
x = pd.concat([sig_data,sig_wsegs])

C:\Python27\ArcGIS10.4\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [260]:
x.reindex(columns=['control_type','control_id','nodeid', 'masterid', 'segmentid', 'mft', 'distance', 'control_lon_lat', 'node_lon_lat', 'segment_lon_lat' ,'control_geom', 'node_geom', 'segment_geom'])

,control_type,control_id,nodeid,masterid,segmentid,mft,distance,control_lon_lat,node_lon_lat,segment_lon_lat,control_geom,node_geom,segment_geom
0,SIG,10001,92892,92892,NaN,NaN,5.06653,"[-73.992476, 40.715072]","[-73.9924906246, 40.7150803403]",NaN,0101000020D7080000D5011E94BF192E41347ACDE4A463...,0101000020D708000000853B78B7192E41009A2A33BD63...,NaN
1,SIG,10002,20243,20245,NaN,NaN,15.4098,"[-74.005343, 40.721694]","[-74.0053071318, 40.7217263149]",NaN,0101000020D7080000F253F6F0E1FD2D416963385109AF...,0101000020D708000080BECDD3F5FD2D41002AB57F67AF...,NaN
2,SIG,10003,20216,20216,NaN,NaN,27.9408,"[-74.005212, 40.720552]","[-74.0052084874, 40.7206286442]",NaN,0101000020D708000083DE03842AFE2D41A4B226C608A2...,0101000020D708000000FB62772CFE2D410060082AE8A2...,NaN
3,SIG,10004,20215,20215,NaN,NaN,0.545153,"[-74.005188, 40.719838]","[-74.0051861626, 40.7198374664]",NaN,0101000020D7080000E5AD4DCA37FE2D412DEDC0B6E799...,0101000020D708000080B210CF38FE2D41003C8D28E699...,NaN
4,SIG,10005,20214,20214,NaN,NaN,0.397664,"[-74.005173, 40.719004]","[-74.0051742031, 40.7190045945]",NaN,0101000020D70800006FD2FF1140FE2D4100D7CFE56890...,0101000020D7080000003140673FFE2D41004A6CA16A90...,NaN
5,SIG,10006,20482,20482,NaN,NaN,0.599102,"[-73.999311, 40.717549]","[-73.9993124177, 40.7175502411]",NaN,0101000020D7080000190F0EFEF10A2E41D688B4C1D77F...,0101000020D70800008018D634F10A2E41001CC75FDB7F...,NaN
6,SIG,10007,9034094,15701,NaN,NaN,17.2067,"[-73.996833, 40.715098]","[-73.996865615, 40.7150578172]",NaN,0101000020D7080000993826E64F102E41702BB815F063...,0101000020D708000080D22FD13D102E410086BAF67A63...,NaN
7,SIG,10008,20569,78691,NaN,NaN,14.1486,"[-73.996079, 40.716196]","[-73.9960587278, 40.7162316399]",NaN,0101000020D708000031CC72E8F1112E415164746E7070...,0101000020D708000080387225FD112E4100A2A54FD870...,NaN
8,SIG,10009,15615,15615,NaN,NaN,23.563,"[-73.997486, 40.714006]","[-73.9975044541, 40.7140691319]",NaN,0101000020D70800006EF106E0E50E2E4182E64A3F8157...,0101000020D708000080905AA4DB0E2E4100B0CD403958...,NaN
9,SIG,10011,15234,15234,NaN,NaN,0.349685,"[-74.011549, 40.70495]","[-74.0115498107, 40.7049507352]",NaN,0101000020D70800002164CED76FF02D412031CBDC67F0...,0101000020D708000000CCBB646FF02D41006C70016AF0...,NaN
10,SIG,10013,15354,15354,NaN,NaN,0.791987,"[-74.008102, 40.711993]","[-74.008099819, 40.711994404]",NaN,0101000020D70800008BD8EEBFE7F72D412C4F79D29640...,0101000020D708000080BD89F5E8F72D41003AEEE99A40...,NaN
11,SIG,10014,9030777,9030777,NaN,NaN,37.8415,"[-74.014264, 40.704447]","[-74.0142892287, 40.7045490761]",NaN,0101000020D708000032059E428EEA2D411B609FAFAEEA...,0101000020D708000000D64C4880EA2D4100F0C935D8EB...,NaN
12,SIG,10015,20369,20369,NaN,NaN,0.643318,"[-74.001883, 40.719396]","[-74.0018840627, 40.7193975697]",NaN,0101000020D7080000F3FF6F1060052E4156621125DF94...,0101000020D708000080259D795F052E41004457B8E394...,NaN
13,SIG,10016,15254,15254,NaN,NaN,0.196696,"[-74.010846, 40.708798]","[-74.010846381, 40.7087975446]",NaN,0101000020D708000030429F04F6F12D417D6D2133371C...,0101000020D7080000802786CEF5F12D4100125ADF351C...,NaN
14,SIG,10017,15375,15375,NaN,NaN,0.357688,"[-74.006309, 40.714165]","[-74.0063096954, 40.714165827]",NaN,0101000020D708000091D98E03CAFB2D415AE470195159...,0101000020D70800000073DCA0C9FB2D4100E880825359...,NaN
15,SIG,10018,15257,15257,NaN,NaN,0.20667,"[-74.009988, 40.709806]","[-74.0099873915, 40.7098056723]",NaN,0101000020D70800002F2E58DAD1F32D41266B95EEB027...,0101000020D708000000E1B530D2F32D4100F008FAAF27...,NaN
16,SIG,10019,15272,15272,NaN,NaN,0.48025,"[-74.009472, 40.710412]","[-74.0094735785, 40.710412543]",NaN,0101000020D708000045382B03F0F42D41FE17E613972E...,0101000020D7080000807F1F23EFF42D4100C226A9982E...,NaN
17,SIG,10020,15377,15377,NaN,NaN,0.563488,"[-74.005418, 40.715235]","[-74.0054194842, 40.7152360568]",NaN,0101000020D7080000BD735212B8FD2D41073CBAA27F65...,0101000020D708000080CFAD3FB7FD2D4100EA4BB78265...,NaN
18,SIG,10021,15175,15175,NaN,NaN,0.0760453,"[-74.012508, 40.706767]","[-74.0125077396, 40.7067670656]",NaN,0101000020D7080000975A353F5CEE2D4136693C0E1805...,0101000020D708000080EA2B645CEE2D41003A2C3F1805...,NaN
19,SIG,10022,20346,20346,NaN,NaN,1.35575,"[-74.003532, 40.71745]","[-74.0035348069, 40.7174469527]",NaN,0101000020D708000020F208CDCD012E414209D75BB77E...,0101000020D708000080D1A03ECC012E4100D2237AAE7E...,NaN
20,SIG,10023,15273,15273,NaN,NaN,0.46932,"[-74.009061, 40.710887]","[-74.0090626476, 40.710886704]",NaN,0101000020D708000060EBFAEFD3F52D4125EFAB6FFF33...,0101000020D708000000851C06D3F52D41004EED92FE33...,NaN
21,SIG,10024,20345,20345,NaN,NaN,0.00969116,"[-74.004026, 40.716871]","[-74.0040260267, 40.7168710172]",NaN,0101000020D7080000DFB657E6BB002E4159CBADD31F78...,0101000020D708000000DD8CE2BB002E4100467AE01F78...,NaN
22,SIG,10025,15255,15255,NaN,NaN,0.34404,"[-74.010543, 40.709155]","[-74.0105424644, 40.7091541482]",NaN,0101000020D70800002ED7320F9EF22D41B8D005A54720...,0101000020D708000080C6335B9EF22D41000464294520...,NaN
23,SIG,10026,15171,15171,NaN,NaN,0.622068,"[-74.013255, 40.705869]","[-74.0132539629, 40.7058705141]",NaN,0101000020D70800006634B1EEBDEC2D41A422CAF3DEFA...,0101000020D708000000D2F381BEEC2D4100B26E5DE3FA...,NaN
24,SIG,10027,15373,15373,NaN,NaN,0.29857,"[-74.007225, 40.713056]","[-74.0072245037, 40.7130552727]",NaN,0101000020D708000010DCA213CEF92D41EDE5C9EAB04C...,0101000020D7080000004B125ACEF92D41009C17CCAE4C...,NaN
25,SIG,10028,15357,15357,NaN,NaN,0.629235,"[-74.007665, 40.712531]","[-74.0076657042, 40.7125326419]",NaN,0101000020D70800001DAD7915DAF82D4187AF08D0B646...,0101000020D7080000806E8CB1D9F82D4100D82699BB46...,NaN
26,SIG,10029,15252,15252,NaN,NaN,0.52398,"[-74.01125, 40.708304]","[-74.01124835, 40.7083047013]",NaN,0101000020D7080000E14D5FF515F12D410525E37A9716...,0101000020D708000080489BDF16F12D41001411869916...,NaN
27,SIG,10030,15376,15376,NaN,NaN,0.489943,"[-74.005887, 40.714678]","[-74.0058884969, 40.7146772851]",NaN,0101000020D7080000911CAA03B4FC2D410BA80C3F285F...,0101000020D708000080632F2FB3FC2D4100D8B329265F...,NaN
28,SIG,10031,15193,15193,NaN,NaN,0.612813,"[-74.011946, 40.70745]","[-74.0119469133, 40.7074515317]",NaN,0101000020D708000064DB60F293EF2D41A583C494DE0C...,0101000020D70800000073C67093EF2D41003ABC0BE30C...,NaN
29,SIG,10032,20194,20194,NaN,NaN,0.682193,"[-74.004974, 40.715759]","[-74.0049761286, 40.7157599396]",NaN,0101000020D70800007AE72943AEFE2D419017C1D9766B...,0101000020D708000080370D15ADFE2D4100E2EA96796B...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,SIG,50214,NaN,NaN,0010853,160280,8.5039,POINT(-74.10844 40.5697849999998),NaN,MULTILINESTRING((-74.108740179986 40.569916493...,0101000020D7080000C8C948E4151E2D41DB6F742919EE...,NaN,0105000020D70800000100000001020000000200000080...
536,SIG,50231,NaN,NaN,0010853,160280,8.5039,POINT(-74.10844 40.5697849999998),NaN,MULTILINESTRING((-74.108740179986 40.569916493...,0101000020D7080000C8C948E4151E2D41DB6F742919EE...,NaN,0105000020D70800000100000001020000000200000080...
537,SIG,50287,NaN,NaN,0010853,160280,8.5039,POINT(-74.10844 40.5697849999998),NaN,MULTILINESTRING((-74.108740179986 40.569916493...,0101000020D7080000C8C948E4151E2D41DB6F742919EE...,NaN,0105000020D70800000100000001020000000200000080...
538,SIG,50367,NaN,NaN,0010853,160280,8.5039,POINT(-74.10844 40.5697849999998),NaN,MULTILINESTRING((-74.108740179986 40.569916493...,0101000020D7080000C8C948E4151E2D41DB6F742919EE...,NaN,0105000020D70800000100000001020000000200000080...
539,SIG,50368,NaN,NaN,0010853,160280,8.5039,POINT(-74.10844 40.5697849999998),NaN,MULTILINESTRING((-74.108740179986 40.569916493...,0101000020D7080000C8C948E4151E2D41DB6F742919EE...,NaN,0105000020D70800000100000001020000000200000080...
540,SIG,50371,NaN,NaN,0010853,160280,8.5039,POINT(-74.10844 40.5697849999998),NaN,MULTILINESTRING((-74.108740179986 40.569916493...,0101000020D7080000C8C948E4151E2D41DB6F742919EE...,NaN,0105000020D70800000100000001020000000200000080...
541,SIG,50389,NaN,NaN,0010853,160280,8.5039,POINT(-74.10844 40.5697849999998),NaN,MULTILINESTRING((-74.108740179986 40.569916493...,0101000020D7080000C8C948E4151E2D41DB6F742919EE...,NaN,0105000020D70800000100000001020000000200000080...
542,SIG,50409,NaN,NaN,0010853,160280,8.5039,POINT(-74.10844 40.5697849999998),NaN,MULTILINESTRING((-74.108740179986 40.569916493...,0101000020D7080000C8C948E4151E2D41DB6F742919EE...,NaN,0105000020D70800000100000001020000000200000080...
543,SIG,50430,NaN,NaN,0010853,160280,8.5039,POINT(-74.10844 40.5697849999998),NaN,MULTILINESTRING((-74.108740179986 40.569916493...,0101000020D7080000C8C948E4151E2D41DB6F742919EE...,NaN,0105000020D70800000100000001020000000200000080...
544,SIG,50435,NaN,NaN,0010853,160280,8.5039,POINT(-74.10844 40.5697849999998),NaN,MULTILINESTRING((-74.108740179986 40.569916493...,0101000020D7080000C8C948E4151E2D41DB6F742919EE...,NaN,0105000020D70800000100000001020000000200000080...
545,SIG,50458,NaN,NaN,0010853,160280,8.5039,POINT(-74.10844 40.5697849999998),NaN,MULTILINESTRING((-74.108740179986 40.569916493...,0101000020D7080000C8C948E4151E2D41DB6F742919EE...,NaN,0105000020D70800000100000001020000000200000080...
546,SIG,50475,NaN,NaN,0010853,160280,8.5039,POINT(-74.10844 40.5697849999998),NaN,MULTILINESTRING((-74.108740179986 40.569916493...,0101000020D7080000C8C948E4151E2D41DB6F742919EE...,NaN,0105000020D70800000100000001020000000200000080...
547,SIG,50505,NaN,NaN,0010853,160280,8.5039,POINT(-74.10844 40.5697849999998),NaN,MULTILINESTRING((-74.108740179986 40.569916493...,0101000020D7080000C8C948E4151E2D41DB6F742919EE...,NaN,0105000020D70800000100000001020000000200000080...
548,SIG,50517,NaN,NaN,0010853,160280,8.5039,POINT(-74.10844 40.5697849999998),NaN,MULTILINESTRING((-74.108740179986 40.569916493...,0101000020D7080000C8C948E4151E2D41DB6F742919EE...,NaN,0105000020D70800000100000001020000000200000080...
549,SIG,50524,NaN,NaN,0010853,160280,8.5039,POINT(-74.10844 40.5697849999998),NaN,MULTILINESTRING((-74.108740179986 40.569916493...,0101000020D7080000C8C948E4151E2D41DB6F742919EE...,NaN,0105000020D70800000100000001020000000200000080...
550,SIG,50542,NaN,NaN,0010853,160280,8.5039,POINT(-74.10844 40.5697849999998),NaN,MULTILINESTRING((-74.108740179986 40.569916493...,0101000020D7080000C8C948E4151E2D41DB6F742919EE...,NaN,0105000020D70800000100000001020000000200000080...
551,SIG,50548,NaN,NaN,0010853,160280,8.5039,POINT(-74.10844 40.5697849999998),NaN,MULTILINESTRING((-74.108740179986 40.569916493...,0101000020D7080000C8C948E4151E2D41DB6F742919EE...,NaN,0105000020D70800000100000001020000000200000080...
552,SIG,50549,NaN,NaN,0010853,160280,8.5039,POINT(-74.10844 40.5697849999998),NaN,MULTILINESTRING((-74.108740179986 40.569916493...,0101000020D7080000C8C948E4151E2D41DB6F742919EE...,NaN,0105000020D70800000100000001020000000200000080...
553,SIG,50552,NaN,NaN,0010853,160280,8.5039,POINT(-74.10844 40.5697849999998),NaN,MULTILINESTRING((-74.108740179986 40.569916493...,0101000020D7080000C8C948E4151E2D41DB6F742919EE...,NaN,0105000020D70800000100000001020000000200000080...
554,SIG,50583,NaN,NaN,0010853,160280,8.5039,POINT(-74.10844 40.5697849999998),NaN,MULTILINESTRING((-74.108740179986 40.569916493...,0101000020D7080000C8C948E4151E2D41DB6F742919EE...,NaN,0105000020D70800000100000001020000000200000080...
555,SIG,50611,NaN,NaN,0010853,160280,8.5039,POINT(-74.10844 40.5697849999998),NaN,MULTILINESTRING((-74.108740179986 40.569916493...,0101000020D7080000C8C948E4151E2D41DB6F742919EE...,NaN,0105000020D70800000100000001020000000200000080...
556,SIG,50615,NaN,NaN,0010853,160280,8.5039,POINT(-74.10844 40.5697849999998),NaN,MULTILINESTRING((-74.108740179986 40.569916493...,0101000020D7080000C8C948E4151E2D41DB6F742919EE...,NaN,0105000020D70800000100000001020000000200000080...
557,SIG,50624,NaN,NaN,0010853,160280,8.5039,POINT(-74.10844 40.5697849999998),NaN,MULTILINESTRING((-74.108740179986 40.569916493...,0101000020D7080000C8C948E4151E2D41DB6F742919EE...,NaN,0105000020D70800000100000001020000000200000080...
558,SIG,50627,NaN,NaN,0010853,160280,8.5039,POINT(-74.10844 40.5697849999998),NaN,MULTILINESTRING((-74.108740179986 40.569916493...,0101000020D7080000C8C948E4151E2D41DB6F742919EE...,NaN,0105000020D70800000100000001020000000200000080...
559,SIG,50630,NaN,NaN,0010853,160280,8.5039,POINT(-74.10844 40.5697849999998),NaN,MULTILINESTRING((-74.108740179986 40.569916493...,0101000020D7080000C8C948E4151E2D41DB6F742919EE...,NaN,0105000020D70800000100000001020000000200000080...
560,SIG,50631,NaN,NaN,0010853,160280,8.5039,POINT(-74.10844 40.5697849999998),NaN,MULTILINESTRING((-74.108740179986 40.569916493...,0101000020D7080000C8C948E4151E2D41DB6F742919EE...,NaN,0105000020D70800000100000001020000000200000080...
561,SIG,50659,NaN,NaN,0010853,160280,8.5039,POINT(-74.10844 40.5697849999998),NaN,MULTILINESTRING((-74.108740179986 40.569916493...,0101000020D7080000C8C948E4151E2D41DB6F742919EE...,NaN,0105000020D70800000100000001020000000200000080...
562,SIG,50660,NaN,NaN,0010853,160280,8.5039,POINT(-74.10844 40.5697849999998),NaN,MULTILINESTRING((-74.108740179986 40.569916493...,0101000020D7080000C8C948E4151E2D41DB6F742919EE...,NaN,0105000020D70800000100000001020000000200000080...
563,SIG,50676,NaN,NaN,0010853,160280,8.5039,POINT(-74.10844 40.5697849999998),NaN,MULTILINESTRING((-74.108740179986 40.569916493...,0101000020D7080000C8C948E4151E2D41DB6F742919EE...,NaN,0105000020D70800000100000001020000000200000080...
564,SIG,50726,NaN,NaN,0010853,160280,8.5039,POINT(-74.10844 40.5697849999998),NaN,MULTILINESTRING((-74.108740179986 40.569916493...,0101000020D7080000C8C948E4151E2D41DB6F742919EE...,NaN,0105000020D70800000100000001020000000200000080...

In [263]:
sig_data.columns

Index([u'nodeid', u'masterid', u'control_type', u'control_id', u'node_geom',
       u'node_lon_lat', u'control_geom', u'control_lon_lat', u'distance'],
      dtype='object')

In [280]:
query = """select segmentid, mft, st_distance(geom, '{geom}'::geometry) as distance,
            geom as segment_geom, '{geom}'::geometry as control_geom,
            ST_AsText(st_transform(geom::text,4326)) semgent_lon_lat,
            ST_AsText(st_transform('{geom}'::text,4326)) control_lon_lat
           from lion where st_dwithin('{geom}'::geometry,geom, 50)               
           order by st_distance(geom, '{geom}'::geometry) ASC limit 1
           """.format(geom='0101000020D708000032749E8FC0EC2D417A66556E00EC0741', rad=50)

db.query(query)
r = list(db.data[0])
#data = pd.DataFrame(r,index=['segmentid','distance','segment_geom','control_geom', 'segment_lon_lat', 'control_lon_lat']).T

- Query run 2020-06-24 11:26:15.992000
 Query time: Query run in 145000 microseconds
 * Returned 1 rows *

In [290]:
x = list(db.data[0])

In [292]:
x.append('apple sauce')

In [293]:
x

['0023056',
 23056,
 5.7760019960064,
 '0105000020D70800000100000001020000000200000000345195B5EC2D4100E2E0BCE4EB074180A0AB6896EC2D4100B0CEE353F10741',
 '0101000020D708000032749E8FC0EC2D417A66556E00EC0741',
 'MULTILINESTRING((-74.0132697948119 40.7045534963101,-74.0133261085556 40.705030787933))',
 'POINT(-74.01325 40.7045629999998)',
 'apple sauce']

In [179]:
r

['0023056',
 23056,
 5.7760019960064,
 '0105000020D70800000100000001020000000200000000345195B5EC2D4100E2E0BCE4EB074180A0AB6896EC2D4100B0CEE353F10741',
 '0101000020D708000032749E8FC0EC2D417A66556E00EC0741',
 'MULTILINESTRING((-74.0132697948119 40.7045534963101,-74.0133261085556 40.705030787933))',
 'POINT(-74.01325 40.7045629999998)']

In [ ]:
select segmentid, mft, st_distance(geom, '{geom}'::geometry) as distance,
    geom as segment_geom, '{geom}'::geometry as control_geom,
    ST_AsText(st_transform(geom::text,4326)) semgent_lon_lat,
    ST_AsText(st_transform('{geom}'::text,4326)) control_lon_lat
from lion where st_dwithin('{geom}'::geometry,geom, 50)               
order by st_distance(geom, '{geom}'::geometry) ASC limit 1

In [ ]:
select segmentid, mft, st_distance(geom, '0101000020D708000032749E8FC0EC2D417A66556E00EC0741'::geometry) as distance,
	geom as segment_geom, '0101000020D708000032749E8FC0EC2D417A66556E00EC0741'::geometry as control_geom,
	ST_AsText(st_transform(geom::text,4326)) semgent_lon_lat,
	ST_AsText(st_transform('0101000020D708000032749E8FC0EC2D417A66556E00EC0741'::text,4326)) control_lon_lat
from lion where st_dwithin('0101000020D708000032749E8FC0EC2D417A66556E00EC0741'::geometry,geom, 50)               
order by st_distance(geom, '0101000020D708000032749E8FC0EC2D417A66556E00EC0741'::geometry) ASC limit 1

In [299]:
db.query("select last_updated from public._tbl_updates_ where table_name = '%s'" % 'signal_controller')

- Query run 2020-06-26 11:26:54.447000
 Query time: Query run in 88000 microseconds
 * Returned 0 rows *

In [301]:
db.data

[]

In [310]:
datetime.datetime.today().day

26

In [ ]:
pysqldb.__version__()

In [315]:
from ris import pysqldb.__version__

SyntaxError: invalid syntax (<ipython-input-315-5ffb40d7b7e9>, line 1)

In [314]:
print pysqldb.__version__

AttributeError: 'module' object has no attribute '__version__'

In [330]:
db.query("select * from working._tbl_updates_ where table_name = '%s'" % 'signal_controller')

- Query run 2020-06-29 11:35:58.228000
 Query time: Query run in 3000 microseconds
 * Returned 0 rows *

In [331]:
db.data[0]

IndexError: list index out of range

In [334]:
db.query("SELECT * FROM working._tbl_updates_;")

- Query run 2020-06-29 11:37:01.011000
 Query time: Query run in 3000 microseconds
 * Returned 1 rows *

In [338]:
db.data[0]

('SIGNAL_CONTROLLER',
 datetime.datetime(2020, 6, 29, 11, 29, 36, 69758),
 1,
 datetime.datetime(2020, 6, 29, 11, 29, 36, 69758))

In [344]:
db.query(""" 

SELECT * FROM working._tbl_updates_ where table_name = '%s' 

""" % 'SIGNAL_CONTROLLER')

- Query run 2020-06-29 11:40:24.419000
 Query time: Query run in 3000 microseconds
 * Returned 1 rows *

In [348]:
db.data[0][2]

1

In [350]:
db.my_tables()

Empty DataFrame
Columns: [tablename, tableowner]
Index: []

In [352]:
print 'Cleanging staging.stg_%s' % 'table_name'

Cleanging staging.stg_table_name